{% extends 'JOYASJoyasBundle:Web:baseweb.html.twig' %}
{% block content -%}

    <section class="post-wrapper-top jt-shadow clearfix">
        <div class="container">
            <div class="col-lg-12">
                <h2>Cat&aacute;logo</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{{path('joyas_joyas_web_index')}}">Inicio</a></li>
                    <li>Cat&aacute;logo {{"/"~categoriaActual.sinonimo|default(categoriaActual.descripcion|default(filtroActual|default('')))}}</li>
                </ul>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->

    <section class="white-wrapper">
        <div class="container">
            <div class="general-title">
                <h2>Nuestros Productos</h2>
                <hr>
            </div><!-- end general title -->

            <div class="text-center clearfix">

                <nav class="portfolio-filter">
                    <input id="prebusqueda" class="form-control" placeholder="B&uacute;squeda por Nombre del Producto / C&oacute;digo">                            
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{path('joyas_joyas_web_catalogo')}}" >Todos</a>
                            <a class="btn btn-primary filter" data-filter="novedad">Novedades</a>
                            <a class="btn btn-primary filter" data-filter="destacado">Destacados</a>
                        </li>
                        {% for categoria in categorias %}     
                            <li>
                                <a class="btn btn-primary categoria" data-categoria="{{categoria.id}}" >{{categoria.sinonimo|default(categoria.descripcion)}}</a>
                            </li>

                        {% endfor%}                        
                    </ul>
                </nav>
            </div><!-- end text-center --> 

            <div id="boxed-portfolio" class="portfolio_wrapper padding-top">
                {% if (productos|length > 0) %}
                    {% for producto in productos %}
                        {% set imagen = producto.imagenesproducto|first%}

                        {% if loop.index  in [1,5,9,13,17,21,25,29,33,37,41,45,49,53]%}
                            <div class="row">
                            {% endif %}

                            <div class="col-lg-3 col-sm-6 col-md-3 col-xs-12 logo">
                                <div class="portfolio_item">
                                    <div class="entry">
                                        <img src="{{ asset('uploads/documents/productos/')~imagen.producto.id~'/'~imagen.path}}" alt="{{producto.descripcion}}" class="img-responsive">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st btn btn-default" rel="bookmark" href="{{ path('joyas_joyas_web_single', { 'id': producto.id,'descripcion':producto.descripcion|url_encode })}}">Ver Producto</a>
                                                <h3>C&oacute;d. {{producto.codigo}}</h3>
                                            </div><!-- end buttons -->
                                        </div><!-- end magnifier -->
                                    </div><!-- end entry -->
                                </div><!-- end portfolio_item -->
                            </div><!-- end col-lg-3 -->
                            {% if loop.index in [4,8,12,16,20,24,28,32,36,40,44,48,52,56]%}
                            </div>
                        {% endif %}

                    {% endfor%}
                {% else %}
                    <h1>No existen productos para esta b&uacute;squeda</h1>
                {% endif %}
            </div>

            <div class="clearfix"></div>

            <div class="buttons padding-top text-center">
                {% if page!=1%}
                    <a id="anterior"  class="btn btn-primary btn-lg" title="">P&aacute;gina {{paginaAnterior}}</a>
                {% endif %}
                <a   class="btn btn-primary btn-lg" title="">P&aacute;gina {{page}}</a>
                {% if (productos|length > 0) %}
                    <a id="siguiente"  class="btn btn-primary btn-lg" title="">P&aacute;gina {{paginaSiguiente}}</a>                
                {% endif %}
            </div>
        </div><!-- end container -->
    </section><!-- end white-wrapper -->
    <form method="POST" action="" id="formCatalogo">
        <input type="hidden" name="categoria" id="categoria" >
        <input type="hidden" name="busqueda" id="busqueda" >
        <input type="hidden" name="filter" id="filter" >
    </form>
    <script>
        $(document).ready(function () {
            $('.categoria').click(function () {
                $('#categoria').val('');
                $('#busqueda').val('');
                $('#filter').val('');
                var action = "{{path('joyas_joyas_web_catalogo',{'page':1})}}";
                $('#formCatalogo').attr('action', action);

                $('#categoria').val($(this).data('categoria'));
                $('#formCatalogo').submit();
            });
            $('#prebusqueda').keyup(function (e) {
                if (e.keyCode == 13) {
                    $('#busqueda').val($(this).val());
                    $('#formCatalogo').submit();
                }
            });
            $('.filter').click(function () {
                $('#categoria').val('');
                $('#busqueda').val('');
                $('#filter').val('');

                var action = "{{path('joyas_joyas_web_catalogo',{'page':1})}}";
                $('#formCatalogo').attr('action', action);
                $('#filter').val($(this).data('filter'));
                $('#formCatalogo').submit();
            });
            $('#anterior').click(function () {
                var action = "{{path('joyas_joyas_web_catalogo',{'page':paginaAnterior|default(1)})}}";
                $('#formCatalogo').attr('action', action);
                $('#filter').val('{{filtroActual}}');
                $('#busqueda').val('{{busqueda}}');
                $('#categoria').val($(this).data('{{categoriaActual.id|default(null)}}'));
                $('#formCatalogo').submit();
            });

            $('#siguiente').click(function () {
                var action = "{{path('joyas_joyas_web_catalogo',{'page':paginaSiguiente|default(1)})}}";
                $('#formCatalogo').attr('action', action);
                $('#filter').val('{{filtroActual}}');
                $('#busqueda').val('{{busqueda}}');
                $('#categoria').val($(this).data('{{categoriaActual.id|default(null)}}'));
                $('#formCatalogo').submit();
            });
        });

    </script>
{% endblock %}
