{% extends 'JOYASJoyasBundle:Web:baseweb.html.twig' %}
{% block content -%}
    <section class="post-wrapper-top jt-shadow clearfix">
        <div class="container">
            <div class="col-lg-12">
                <h2>Cont&aacute;ctanos</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="{{path('joyas_joyas_web_index')}}">Inicio</a></li>
                    <li>Contact&aacute;ctanos</li>
                </ul>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->

    <section id="contacto" class="white-wrapper">
        <div class="container">
            <div class="col-md-12 text-center">
                
                    {% for flashMessage in app.session.flashbag.get('msgError') %}
                        <h4><strong>{{ flashMessage }}</strong></h4> 
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('msgOk') %}
                        <h4><strong>{{ flashMessage }}</strong></h4> 
                    {% endfor %}                
            </div>
            <div class="general-title">
                <h2>Envi&eacute;nos su comentario, sugerencia o pedido</h2>
                <hr>
                <p class="lead">Nos contactaremos a la brevedad <br> Tenemos las mejores opciones para su negocio</p>
            </div><!-- end general title -->    
            <div class="contact_form">
                <div id="message"></div>
                <form id="contactform" action="{{path('joyas_joyas_web_contacto_email')}}" name="contactform" method="post">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="name" id="name" class="form-control" placeholder="Nombre"> 
                        <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Tel&eacute;fonos"> 
                        <input type="text" name="email" id="email" class="form-control" placeholder="Direcci&oacute;n de E-mail">
                        <input type="text" name="website" id="website" class="form-control" placeholder="Web (Opcional)"> 
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="subject" id="subject" class="form-control" placeholder="T&iacute;tulo">  
                        <textarea class="form-control" name="comments" id="comments" rows="15" placeholder="Mensaje"></textarea>
                        <button type="submit" class="btn btn-lg btn-primary pull-right">Enviar Mensaje</button>
                    </div>
                </form>    
            </div><!-- end contact-form -->
        </div><!-- end container -->
    </section><!-- end map wrapper -->

    <div id="map" class="container">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2">
                <iframe class="col-xs-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.986990977367!2d-58.38573988513977!3d-34.60449046504534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac58c3f8ccb%3A0xe41ed7c54e17b138!2sLibertad+349%2C+C1012AAG+CABA!5e0!3m2!1ses-419!2sar!4v1527008274962"  height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <section id="one-parallax" class="parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="overlay">
            <div class="container">
                <div class="row padding-top margin-top">
                    <div class="contact_details">
                        <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                            <div class="text-center">
                                <div class="wow swing">
                                    <div class="contact-icon">
                                        <a href="#map" > <i class="fa fa-map-marker fa-3x"></i> </a>
                                    </div><!-- end dm-icon-effect-1 -->
                                    <p>
                                        Libertad 349, 1 piso of 32 y 33<br>
                                        Buenos Aires, CP 1012<br>
                                        Argentina
                                    </p>
                                </div><!-- end service-icon -->
                            </div><!-- end miniboxes -->
                        </div><!-- end col-lg-4 -->

                        <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                            <div class="text-center">
                                <div class="wow swing">
                                    <div class="contact-icon">
                                        <a > <i class="fa fa-phone fa-3x"></i> </a>
                                    </div><!-- end dm-icon-effect-1 -->
                                    <p>
                                        <strong>Tel&eacute;fono:</strong> 54-11-5219-2468<br>
                                        <strong>Celular:</strong> +54-9-11-6143-4334
                                    </p>
                                </div><!-- end service-icon -->
                            </div><!-- end miniboxes -->
                        </div><!-- end col-lg-4 -->  

                        <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                            <div class="text-center">
                                <div class="wow swing">
                                    <div class="contact-icon">
                                        <a href="#contacto" > <i class="fa fa-envelope-o fa-3x"></i> </a>
                                    </div><!-- end dm-icon-effect-1 -->
                                    <p>
                                        <strong>Email:</strong> Chl@filogems.com.ar<br>                                        
                                    </p>
                                </div><!-- end service-icon -->
                            </div><!-- end miniboxes -->
                        </div><!-- end col-lg-4 -->                  
                    </div><!-- end contact_details -->
                </div><!-- end margin-top -->
                <div class="buttons padding-top text-center">
                    <a href="{{ path('joyas_joyas_web_catalogo')}}" class="btn btn-primary btn-lg" title="Ver el cat&aacute;logo">Ver el Cat&aacute;logo</a>
                </div>  
            </div><!-- end container -->

        </div><!-- end overlay -->

    </section><!-- end map wrapper -->




{% endblock %}
