{% extends '::layout.html.twig' %}

{% block head %}
    <link href="{{ asset('bundles/framework/css/exception.css') }}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="{{ asset('bundles/DataTable/jquery-1.11.3.min.js') }}"></script>    
    <link href="{{ asset('bundles/nuevo/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">    
    <script src="{{ asset('bundles/nuevo/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>    
    <link href="{{ asset('bundles/nuevo/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    
    <style>
        body {
            background: url("{{ asset('bundles/joyas/img/titaniologo.png') }}");
            background-repeat: no-repeat;   
            background-position: center;
            background-attachment: fixed;
            background-size: contain; 
            background-color: #FFFFFF;
        }
        #observaciones{
            background-color: #FFFFFF;
        }
        .error-template {
            padding: 150px 15px;
            text-align: center;
        }
        .error-actions {
            margin-top:15px;
            margin-bottom:15px;
        }
        .error-actions .btn { 
            margin-right:10px; 
        }
        html {
            background: #FFFFFF;
        }
    </style>


{% endblock %}

{% block title %}
    {{ exception.message }} ({{ status_code }} {{ status_text }})
{% endblock %}

{% block customize %}   
    {% include 'TwigBundle:Exception:customize.html.twig' %}

{% endblock %}

{% block body %} 
    <div id="observaciones" style="display: none;">
        {% include 'TwigBundle:Exception:exception.html.twig' %}
    </div>
    <script>
        $(document).ready(function () {
            $("#verError").click(function () {
                $("#observaciones").toggle();
            });
        });
    </script>
{% endblock %}


