{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Precios de un Producto
                {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
                    {% if perfil == 'ADMIN' %}
                        <a style="float:right;" class="btn btn-success" href="{{ path('precio_new') }}">
                            Crear
                        </a>
                    {% endif %}
                    {% if perfil == 'ADMINISTRADOR' %}
                        <a style="float:right;" class="btn btn-success" href="#modal">
                            Crear
                        </a>
                        <div id="modal" class="modalDialog" style="text-align:center;">
                            <div style="height: 162px;">
                                <a href="#close" title="Close" class="close">X</a>
                                <div style="height: 45px;">
                                    <form class="formModal" action="{{ path('precio_new') }}" method="post">
                                        <div style="margin-top: 40px;">
                                            <strong>Seleccione una Unidad de Negocio</strong><br>
                                            <select name="unidadnegocio" style="width: 50%; margin: 0 auto;" class="form-control">
                                                {% for unidad in unidades %}
                                                    <option value="{{ unidad.id }}">
                                                        {{ unidad.descripcion }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <br>
                                        <input type="submit" class="btn btn-default" style="margin-top:-20px;" value="Continuar" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>  
    <!--Buscador -->
    <form id="searchForm" action="{{path('precio')}}" method="POST">
        <div class="col-md-12" style="margin-bottom: 2%;">
            <div class="col-md-4">
                <input id="busqueda" type="text" value="{{app.session.get('bBusqueda')}}" class="form-control" name="busqueda" placeholder="Código - Descr."/>
            </div>
            {% if perfil == 'ADMINISTRADOR' %}
                <div class="col-md-3" >                
                    <select name="unidadNegocio" id="unidadNegocio">
                        <option value=''>Seleccione una Unidad </option>
                        {% for unidad in unidades%}
                            <option value="{{unidad.id}}">{{unidad.descripcion}}</option>
                        {% endfor %}
                    </select>                
                </div>  
            {% endif %}
            <div class="col-md-3" >                
                <select class="form-control" name="listaPrecio" >
                    <option value=''>Seleccione una Lista</option>
                    {% for listaPrecio in listaPrecios%}
                        <option value="{{ listaPrecio.id }}">{{ listaPrecio.descripcion }}</option>
                    {% endfor %}
                </select>                
            </div>              
            <div class="col-md-2">
                <button class="btn btn-success" style="font-size: 18px;" type="submit" >
                    <i class="fa fa-search"></i>
                </button>
                <button class="btn btn-default" style="font-size: 18px;" type="reset" >
                    <i class="fa fa-undo"></i>
                </button>
            </div>
        </div>
    </form>

    <table id="tablaPrecios" class="display">
        <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th>Producto</th>
                <th>Lista de Precio</th>
                    {% if perfil == 'ADMINISTRADOR' %}
                    <th>Unidad de Negocio</th>
                    {% endif %}
                <th>Precio</th>
                    {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
                    <th>Acciones</th>
                    {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.producto.codigo }} </td>
                    <td>{{ entity.producto.descripcion }}</td>
                    <td>{{ entity.listaPrecio }}</td>
                    {% if perfil == 'ADMINISTRADOR' %}
                        <td>{{ entity.listaPrecio.unidadNegocio }}</td>					
                    {% endif %}
                    <td>{{ entity.listaPrecio.monedaSimbolo }} {{ entity.valor }} </td>
                    {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
                        <td>
                            <a class="btn btn-info" href="{{ path('precio_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger" href="{{ path('precio_delete', { 'id': entity.id }) }}"><i class="fa fa-times"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-sm-12">
        {{ pagerfanta( entities, "twitter_bootstrap_translated", { 'prev_message' : 'Anterior', 'next_message': 'Siguiente',"routeParams": {'busqueda':app.session.get('bBusqueda'),'unidadNegocio':app.session.get('bUnidadNegocio'),'listaPrecio':app.session.get('bListaPrecio')}} ) }}
    </div>               
    <script>
        // activarActionsTab('precio');
        $('document').ready(function () {
            $('td').css('padding', '2px');
            var unidadNegocio = "{{app.session.get('bUnidadNegocio')}}";
            $('#unidadNegocio').val(unidadNegocio).change();
            var listaPrecio = "{{app.session.get('bListaPrecio')}}";
            $('#listaPrecio').val(listaPrecio).change();

            $('#busqueda').focus();

            $('.pagination a').attr('class', 'btn btn-default');
            $('.pagination li').css('float', 'left');
            $('.pagination').css('width', '100%');
            $('.pagination .active a').prop('class', 'btn btn-info');


            var perfil = '{{perfil}}';
            if (perfil == 'ADMINISTRADOR') {
                columna = 5;
            } else if (perfil == 'ADMIN') {
                columna = 4;
            } else {
                columna = null;
            }
            table = $('#tablaPrecios').DataTable({
                "scrollY": "380px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "aaSorting": [], //Para evitar el ordenamiento por defecto de DataTables
                "columnDefs": [{
                        "targets": columna,
                        "orderable": false
                    }],
                "oLanguage": {
                    "sSearch": "Buscar:"
                }
            });
        });
    </script>
{% endblock %}
