{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Creaci&oacute;n de Precio</h1>
    <div class="joyas-container" style="margin: 0 auto;">
        <div class="container">
            <div class="row-fluid error">
                {{ form_errors(form.producto) }}
            </div>
            {{ form_start(form) }}
            <input type="hidden" value="{{ unidad }}" name="unidadnegocio">
            <div class="visible">
                <strong>Producto</strong><br>
                {{ form_widget(form.producto) }}
            </div>
            <div class="oculto">
                <strong>Producto</strong><br>
                {{ app.session.get('nombreProducto') }}
            </div>
            <div class="oculto">
                <strong>C&oacute;digo</strong>
                {{ app.session.get('codigoProducto') }}	
            </div>
            <div>
                <strong>Lista de Precios</strong><br>
                {{ form_widget(form.listaPrecio) }}
            </div>
            <div>
                <strong>Precio</strong><br>
                {{ form_widget(form.valor) }}
            </div><br>
            <div>
                {{ form_widget(form.submit) }}
                <a id="volver" class="btn btn-default" href="{{ path('precio') }}">
                    Volver
                </a>
            </div>
            {{ form_end(form) }}		
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("input").attr('class', 'form-control');
            {% if app.session.get('codigoProducto') %}
                            $("#joyas_joyasbundle_precio_producto option[value=" +  {{ app.session.get('idProducto') }} +"]").attr("selected", true);
                            $('.oculto').css({"display": "block"});
                            $('.visible').css({"display": "none"});
        {% else %}
                            $('.oculto').css({"display": "none"});
                            $('.visible').css({"display": "block"});
        {% endif %}
                        });
                        // activarActionsTab('precio');
    </script>
{% endblock %}
