{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Precio</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ entity.valor }}</td>
            </tr>
        </tbody>
    </table>

	<ul class="record_actions">
		<li>
			<a class="btn btn-default" href="{{ path('precio_edit', { 'id': entity.id }) }}">
				Editar
			</a>
			<a class="btn btn-default" href="{{ path('precio') }}">
				Volver
			</a>
		</li>
	</ul>
<script>
	
	// activarActionsTab('precio');
</script>
{% endblock %}
