{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1 style="margin-bottom:10px;">
        Bancos 
        <a style="float: right;" class="btn btn-default" href="{{ path('banco_new') }}">
            Crear
        </a>
    </h1>
    <div class="tablasScroll">
        <table id="tablas" class="display">
            <thead>
                <tr>
                    <th>Banco</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.descripcion }}</td>
                        <td>{{ entity.activo }}</td>
                        <td>
                            <a class="btn btn-default" href="{{ path('banco_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        // activarActionsTab('banco');
    </script>
{% endblock %}
