{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Banco</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Banco</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ entity.activo }}</td>
            </tr>            
        </tbody>
    </table>
    <ul class="record_actions">
        <li>
            <a class="btn btn-default" href="{{ path('banco_edit', { 'id': entity.id }) }}">
                Editar
            </a>
            <a class="btn btn-default" href="{{ path('banco') }}">
                Volver
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
    <script>
        // activarActionsTab('banco');
    </script>
{% endblock %}
