{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1>Creaci&oacute;n de Provincia</h1>

    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
        <div class="container">
            {{ form(form) }}
            <a class="btn btn-default" href="{{ path('provincia') }}">
                Volver
            </a>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("input").attr('class', 'form-control');
        });
    </script>    
{% endblock %}
