{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1 style="margin-bottom:10px;">
        Usuarios 
        {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
            <a style="float: right;" class="btn btn-default" href="{{ path('usuario_new') }}">
                Crear
            </a>
        {% endif %}
    </h1>
    <div class="tablasScroll">
        <table id="tablas" class="display">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Mail</th>
                    <th>Clave</th>
                    <th>Perfil</th>
                        {% if perfil == 'ADMINISTRADOR' %}
                        <th>Unidad de negocio</th>
                        {% endif %}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.login }}</td>
                        <td>{{ entity.mail }}</td>
                        <td>{{ entity.clave }}</td>
                        <td>{{ entity.perfil }}</td>
                        {% if perfil == 'ADMINISTRADOR' %}
                            <td>{{ entity.unidadnegocio|default('') }}</td>
                        {% endif %}
                        <td>
                            <a class="btn btn-default" href="{{ path('usuario_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
