{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
<h1 style="margin-bottom:10px;">
	Cotizaci&oacute;n 
	<a style="float: right;" class="btn btn-default" href="{{ path('cotizacion_new') }}">
		Crear
	</a>
</h1> 

<div class="tablasScroll">
	<table id="tablasdesc" class="display">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Dolar ($/unidad)</th>
                <th>Oro ($/gramo)</th>
                <th>Plata($/gramo)</th>
                <th>Quilate (u$s/gramo)</th>
                {%if perfil=='ADMINISTRADOR'%}<th>Unidad Negocio</th>{%endif%}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.fecha|date('Y-m-d H:i') }}</td>
                <td>{{ entity.dolar }}</td>
                <td>{{ entity.oro }}</td>
                <td>{{ entity.plata }}</td>
                <td>{{ entity.quilate }}</td>              
                 {%if perfil=='ADMINISTRADOR'%}<td>{{ entity.unidadNegocio|default('Sin unidad de Negocio') }}</td>{%endif%}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
