{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Alta de Cotizaci&oacute;n</h1>
    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
        <div class="container">
            {{ form_start(form) }}
            {{ form_end(form) }}		
            <a class="btn btn-default" href="{{ path('cotizacion') }}">
                Volver
            </a>
        </div>
    </div>
{% endblock %}
