{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block body %}
    {{ parent() }}
{% endblock %}
{% block content -%}

    {% set desde = app.session.get('desde') %}
    {% set fin = app.session.get('fin') %}
    {% set unidad = app.session.get('unidad') %}
    {% set origen = app.session.get('origen') %}

    <div class="row-fluid" style="text-align: center;">
        <img style="width: 30%;" src="{{ asset('bundles/joyas/img/logo.png') }}" />
    </div>
    <div id="cotizacion" class="row-fluid" style="text-align: center; margin: 0 auto; width: 280px; font-weight: bold; font-size: 17px;">
        Cotizaci&oacute;n del D&iacute;a
    </div>
    <div id="cotizacion" class="row-fluid" style="text-align: center; margin: 0 auto; width: 280px; font-size: 16px;">

        <!-- COMIENZO codigo cotizacion personalizado -->
        <span id="cotizacion_personalizada" class="cotizacion_personalizada">
            <a href="http://www.dolarcito.com.ar/?ver=cotizacion_de_divisa&divisa=1">D&oacute;lar</a> ${dolar_c} / ${dolar_v}<br>
            <a href="http://www.dolarcito.com.ar/?ver=cotizacion_de_divisa&divisa=2">Euro</a> ${euro_c} / ${euro_v}<br>
            <a href="http://www.dolarcito.com.ar/?ver=cotizacion_de_divisa&divisa=3">Real</a> ${real_c} / ${real_v}<br>
            <a href="http://www.dolarcito.com.ar/?ver=cotizacion_de_divisa&divisa=22">Dolar Paralelo</a> ${dolarb_c} / ${dolarb_v}<br>
        </span>

        <script src="http://www.dolarcito.com.ar/scripts/cotizacion_personalizada.js" language="javascript" type="text/javascript"></script>
        <script language="javascript" type="text/javascript">show(s_cotizacion_personalizada)</script>
        <!-- FIN codigo cotizacion personalizado -->
    </div>
    <div class="col-md-12" style="text-align:center;">
        <a HREF="http://www.kitco.com/connecting.html">
            <img SRC="http://www.kitconet.com/charts/metals/silver/t24_ag_en_usoz_2.gif" BORDER="0" ALT="[Most Recent Quotes from www.kitco.com]">
        </a>
        <A HREF="http://www.kitco.com/connecting.html">
            <IMG SRC="http://www.kitconet.com/charts/metals/gold/t24_au_en_usoz_2.gif" BORDER="0" ALT="[Most Recent Quotes from www.kitco.com]">
        </A>
    </div>
    <div class="content">   
        <div class="row">   
            <div class="col-md-3"><a class="btn btn-info btn-lg col-md-12" href="{{path('clienteproveedor')}}">Clientes / Proveedores</a></div>
            <div class="col-md-3"><a class="btn btn-info btn-lg col-md-12" href="{{path('factura')}}">Facturas</a></div>
            <div class="col-md-3"><a class="btn btn-info btn-lg col-md-12" href="{{path('movimientocc_admcaja')}}">Administraci&oacute;n de Caja</a></div>
            <div class="col-md-3"><a class="btn btn-info btn-lg col-md-12" href="{{path('cheque')}}">Cheques</a></div>            
        </div>        
        <br>
        <div class="row">               
            <div class="col-md-4"><a class="btn btn-info btn-lg col-md-12" href="{{path('documento_compras')}}">Compras</a></div>        
            <div class="col-md-4"><a class="btn btn-info btn-lg col-md-12" href="{{ path('documento_gastos') }}">Gastos</a></div>                
            <div class="col-md-4"><a class="btn btn-info btn-lg col-md-12" href="{{ path('documento_pagos') }} ">Pagos</a></div>            
        </div>                
        <br>
        <div class="row">
            <div class="col-md-12 text-center"><a class="btn btn-primary btn-lg" href="{{ path('producto_vistarapida') }} ">Producto - Vista Rápida</a></div>            
        </div>                
    </div>

    <script>
        $(document).ready(function () {
            $('.content > .col-md-6').css('margin-bottom', '2%');
            $('#cotizacion table').css({
                '-webkit-box-shadow': '1px 0px 28px -6px rgba(235,232,235,1)',
                '-moz-box-shadow': '1px 0px 28px -6px rgba(235,232,235,1)',
                'box-shadow': '1px 0px 28px -6px rgba(235,232,235,1)',
                'background': '-moz-linear-gradient(center top , #fff, #fdfdfd) repeat scroll 0 0 #fdfdfd',
                'border': '1px solid #d5d5d5',
                'border-radius': '4px',
                'margin-bottom': '15px',
                'width': '267px'
            });
            $('#cotizacion table table').css({
                'margin-bottom': '5px'
            });
            $('#cotizacion div').css({'width': '300px'});
            $('font').css({'color': 'black'});
            $('.coqui table a').css({'display': 'none'});
            $('.dolarcito_linki').css({'display': 'none'});          
            var fin = '{{fin}}';            
            var origen = '{{origen|default('')}}';          
            if (fin == 'no' && origen == '') {
                var direccion = '{{path('joyas_joyas_importarArchivos')}}?desde={{desde}}&unidad={{unidad}}';
                window.location.href = direccion;
            }
            if (fin == 'no' && origen == 'importarCompra') {             
                var direccion = '{{path('documento_importarCompra',{'proveedor':proveedor|default('-'),'unidadNegocio':unidadNegocio|default('-')})}}?desde={{desde}}';
                window.location.href = direccion;
            }
        });
    </script>
{% endblock %}
