{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1 style="margin-bottom:10px;">
        Subcategor&iacute;as
        <a style="float: right;" class="btn btn-default" href="{{ path('subcategoria_new') }}">
            Crear
        </a>
    </h1>

    <div class="tablasScroll">
        <table id="tablas" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descripci&oacute;n</th>
                        {% if ecommerce == 'SI'%}
                        <th>Sin&oacute;nimo Web</th>
                        {% endif%}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id}}</td>
                        <td>{{ entity.descripcion }}</td>
                        {% if ecommerce == 'SI'%}
                            <td>{{ entity.sinonimo|default('Sin Sinónimo') }}</td>
                        {% endif%}
                        <td>
                            <a class="btn btn-default" href="{{ path('subcategoria_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
