<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('bundles/framework/css/structure.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/framework/css/body.css') }}" rel="stylesheet" type="text/css" media="all" />
        
        {% block head %}{% endblock %}
    </head>
    <body>
       
                {% block customize %}{% endblock %}
         
        
            <div id="content">
                <div class="sf-reset">               
                    {% block body %}{% endblock %}
                </div>
            </div>

    </body>
</html>
