{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Cobranzas
                <a style="float: right;" class="btn btn-success" href="{{ path('documento_new', {'tipo': 'R'}) }}">
                    Registrar cobranza
                </a>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!--Buscador -->
    <form id="searchForm" action="{{path('documento_cobranzas')}}" method="POST">
        <div class="col-md-12" style="margin-bottom: 2%;">
            <div class="col-md-2" >
                <input class="form-control fecha" type="text" onkeypress="return false;" id="fechaDesde" name="fechaDesde" placeholder="Fecha desde" value="{{app.session.get('bFechaDesde')}}" >
            </div>
            <div class="col-md-2" >
                <input class="form-control fecha" type="text" onkeypress="return false;"id="fechaHasta" name="fechaHasta" placeholder="Fecha hasta" value="{{app.session.get('bFechaHasta')}}" >
            </div>       
            {% if perfil == 'ADMINISTRADOR' %}
                <div class="col-md-3" >                
                    <select name="unidadNegocio" id="unidadNegocio">
                        <option value=''>Seleccione una Unidad </option>
                        {% for unidad in unidades%}
                            <option value="{{unidad.id}}">{{unidad.descripcion}}</option>
                        {% endfor %}
                    </select>                
                </div>  
            {% endif %}

            <div class="col-md-3" >                
                <select class="form-control" name="cliente" id="cliente" >
                    <option value=''>Seleccione un Cliente</option>
                    {% for cliente in clientesProveedores%}
                        <option value="{{ cliente.id }}">{{ cliente.razonSocial }}</option>
                    {% endfor %}
                </select>                
            </div>                           
            <div class="col-md-2">
                <button class="btn btn-success" style="font-size: 18px;" type="submit" >
                    <i class="fa fa-search"></i>
                </button>
                <button class="btn btn-default" style="font-size: 18px;" type="reset" >
                    <i class="fa fa-undo"></i>
                </button>
            </div>
        </div>
    </form>

    <table id="tablaCobranza" class="display">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Doc.</th>
                <th>Cliente</th>
                    {% if perfil == 'ADMINISTRADOR' %}							
                    <th>U. Negocio</th>
                    {% endif %}
                <th>Oro</th>
                <th>Plata</th>
                <th>Importe</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %} 

                <tr>
                    <td>{{ entity.fecha|date('Y-m-d') }}</td>
                    <td><a href="{{ path('documento_show', { 'id': entity.id }) }}">Recibo {{ entity.id }}</a></td>
                    <td>{{ entity.movimientocc.clienteproveedor}}</td>
                    {% if perfil == 'ADMINISTRADOR' %}				
                        <td>{{ entity.movimientocc.unidadNegocio }}</td>
                    {% endif %}
                    <td>{{ entity.oroString }}</td>
                    <td>{{ entity.plataString }}</td>
                    <td>{{ entity.importeString }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('documento_edit', { 'id': entity.id }) }}" style="font-size: 14px; line-height: 8px;" data-toggle="tooltip" title="Editar"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger" href="{{ path('documento_borrar', { 'id': entity.id }) }}" style="font-size: 14px; line-height: 8px;" data-toggle="tooltip" title="Eliminar"><i class="fa fa-times"></i></a>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    <div class="col-sm-12">
        {{ pagerfanta( entities, "twitter_bootstrap_translated", { 'prev_message' : 'Anterior', 'next_message': 'Siguiente',"routeParams": {'cliente':app.session.get('bCliente'),'unidadNegocio':app.session.get('bUnidadNegocio'),'fechaDesde':app.session.get('bFechaDesde'),'fechaHasta':app.session.get('bFechaHasta')}} ) }}
    </div> 

    <script>
        $('.fecha').datetimepicker({
            format: 'd-m-Y'
        });

        $('.pagination a').attr('class', 'btn btn-default');
        $('.pagination li').css('float', 'left');
        $('.pagination').css('width', '100%');
        $('.pagination .active a').prop('class', 'btn btn-info');

        $('document').ready(function () {
            var unidadNegocio = "{{app.session.get('bUnidadNegocio')}}";
            $('#unidadNegocio').val(unidadNegocio).change();
            
            var cliente = "{{app.session.get('bCliente')}}";                      
            $('#cliente').val(cliente).change();

            $('td').css('padding', '2px');
            var perfil = '{{perfil}}';
            if (perfil == 'ADMINISTRADOR') {
                columna = 7;
            } else if (perfil == 'ADMIN') {
                columna = 6;
            } else {
                columna = null;
            }
            table = $('#tablaCobranza').DataTable({
                "scrollY": "380px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "aaSorting": [], //Para evitar el ordenamiento por defecto de DataTables   
                "columnDefs": [{
                        "targets": columna,
                        "orderable": false
                    }],
                "oLanguage": {
                    "sSearch": "Buscar:"
                }
            });
        });

    </script>

{% endblock %}