{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
        {% if entity.tipoDocumento == 'F' %} Edici&oacute;n de la factura {{ entity.id }} del proveedor {{ entity.movimientocc.clienteproveedor }} {% endif %}
        {% if entity.tipoDocumento == 'C' %} Nota de Cr&eacute;dito {% endif %}
        {% if entity.tipoDocumento == 'D' %} Nota de D&eacute;bito {% endif %}
        {% if entity.tipoDocumento == 'A' %} Ajuste de Caja {% endif %}
        {% if entity.tipoDocumento == 'G' %} Edici&oacute;n de Gasto {% endif %}
        {% if entity.tipoDocumento == 'R' %} Edici&oacute;n de Recibo a Cliente {% endif %}
        {% if entity.tipoDocumento == 'RP' %}Edici&oacute;n de Recibo a Proveedor {% endif %}
    </h1>

    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
        <div class="container">
            {{ form_start(edit_form) }}
            {% if entity.tipoDocumento == 'F' or entity.tipoDocumento == 'RP' %} <label>Proveedor</label> 
                {{ entity.movimientocc.clienteproveedor }} <br>
            {% endif %}
            {% if entity.tipoDocumento == 'R' %} <label>Cliente</label> 
                {{ entity.movimientocc.clienteproveedor }} <br>
            {% endif %}
            </select>
            <br>

            <div class="recibos">
                <label>Fecha</label>
                <input name="fechaDocumento" onBlur="comprobar();" id="fechaDocumento" onkeydown="return false" required/>
                <div style="display:none;">{{ form_widget(edit_form.fecha) }}</div>
            </div>

            <div class="tipogasto">
                <label>Tipo de Gasto</label>
                {{ form_widget(edit_form.tipoGasto) }}
            </div>

            <div>
                <label>Moneda</label>
                <span class="monedaoculta">{{ entity.monedaStr }}<br><br></span>
                    {{ form_widget(edit_form.moneda) }}
            </div>
            {% if entity.tipoDocumento == 'R' %}
                <div>
                {% else %}
                    <div style="display:none;">
                    {% endif  %}
                    <label>Paga con tarjeta?</label>
                    <input type="checkbox" name="tarjeta" id="tarjeta" />
                </div>
                     {% if entity.tipoDocumento == 'R'  %}
                          <div style="display:none;">
                              {{ form_widget(edit_form.nrofactura) }}
                              {{ form_widget(edit_form.nroremito) }}
                                 </div>
                         {% endif  %}
                {% if entity.tipoDocumento == 'C' or entity.tipoDocumento == 'D' %}
                    <div>
                    {% else %}
                        <div style="display:none;">
                        {% endif  %}
                        {{ form_widget(edit_form.descripcion) }}
                    </div>

                    <div style="display:none;">
                        {{ form_widget(edit_form.tipoDocumento) }}
                    </div>
                    {{ form(edit_form) }}
                    <div>
                        {{ form_widget(edit_form.submit) }}
                        <a class="btn btn-default" href="javascript:history.back();">
                            Volver
                        </a>
                    </div>
                    {{ form_end(edit_form) }}		
                </div>
            </div>

            <script>

                $(document).ready(function () {
                {% if entity.movimientocc.tarjeta == 'on' %}
                        $('#tarjeta').prop("checked", "checked");
                {% endif %}

                        $("input").each(function () {
                            var css = $(this).attr('class');
                            css = css + ' form-control';
                            $(this).attr('class', css);
                        });
                        $("#fechaDocumento").val('{{ entity.fecha|date('d-m-Y') }}');
                        $("#joyas_joyasbundle_documento_moneda").css({'display': 'none'});

                {% if entity.tipoDocumento != 'G' %}
                        $(".tipogasto").css({'display': 'none'});
                {% endif %}

                {% if entity.tipoDocumento == 'R' or entity.tipoDocumento == 'G' or entity.tipoDocumento == 'A' %}
                        $(".recibos").css({'display': 'none'});
                        $("#fechaDocumento").removeAttr('required')
                        joyas_joyasbundle_documento_nrofactura
                {% endif %}

                {% if entity.tipoDocumento == 'RP' %}
                        $(".recibos").css({'display': 'none'});
                        $("#fechaDocumento").removeAttr('required')
                        $("#joyas_joyasbundle_documento_moneda").css({'display': 'block'});
                        $(".monedaoculta").css({'display': 'none'});
                {% endif %}

                {% if entity.tipoDocumento == 'F' %}
                        $(".recibos").css({'display': 'block'});
                        $("#joyas_joyasbundle_documento_moneda").css({'display': 'block'});
                        $(".monedaoculta").css({'display': 'none'});
                {% endif %}
                    });
                    function comprobar() {
                        var hoy = new Date();
                        var fecha = new Date($("#fechaDocumento").val());

                        if (hoy < fecha) {
                            alert('La fecha ingresada debe ser menor a la fecha actual o igual.')
                            $("#fechaDocumento").val('');
                        }
                    }

                {% if entity.tipoDocumento == 'F' %} // activarActionsTab('compras'); {% endif %}
                {% if entity.tipoDocumento == 'C' %} {% endif %}
                {% if entity.tipoDocumento == 'D' %} {% endif %}
                {% if entity.tipoDocumento == 'A' %} // activarActionsTab('admcaja'); {% endif %}            
                {% if entity.tipoDocumento == 'R' %} // activarActionsTab('cobranzas'); {% endif %}            
                {% if entity.tipoDocumento == 'RP' %} // activarActionsTab('pagos'); {% endif %}            
                {% if entity.tipoDocumento == 'G' %} // activarActionsTab('gastos'); {% endif %}

            </script>
        {% endblock %}
