{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
        Alta de Recibo de Cliente
    </h1>

    {{ form_start(form) }}
    <div class="joyas-container" style="margin: 0 auto;">
        <div class="container">
            <div style="margin-bottom: 2%;margin-top: 2%;">
                {{ form_widget(form.submit) }}
                <a class="btn btn-default" style="margin-left: 1%;" href="javascript:history.back();">
                    Volver
                </a>
            </div>
            <div class="col-md-6">
                <label>Seleccione Cliente</label>
                <select name="clienteProveedor">
                    {% for clienteProveedor in clientesProveedores %}
                        {% if clienteProveedor.clienteProveedor == '1' %} 
                            <option value="{{ clienteProveedor.id }}">
                                {{ clienteProveedor.razonSocial }}
                                {% if perfil == 'ADMINISTRADOR' %}
                                    - {{ clienteProveedor.unidadNegocio }}
                                {% endif %}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label>Numeraci&oacute;n autom&aacute;tica</label>
                <input type="checkbox" name="auto" id="auto" value="true" checked="true" />
            </div>
            <div class="col-md-6">
                <label>Nro. Recibo</label>
                {{ form_widget(form.nrocomprobante) }}
            </div>
            <div class="col-md-6">
                <label>Fecha</label>
                <input name="fechaDocumento" id="fechaDocumento" class="datetimepicker" readonly value="{{entity.fecha|date('Y-m-d')}}" onkeydown="return false" required />
                <div style="display:none;">{{ form_widget(form.fecha) }}</div>
            </div>
            <div class="col-md-6">
                <label>Moneda</label>
                {{ form_widget(form.moneda) }}
            </div>
            <div class="col-md-12" style="margin-top: 2%;margin-bottom: 1%; font-size: 20px;color: #00006f;">
                <strong>
                    Efectivo (<span id="resefectivo"></span>) + 
                    Cheques (<span id="rescheques"></span>) = <span id="restotal"></span>
                </strong>
            </div>
            <div class="col-md-12" style="margin-top: 2%;">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#efectivo" data-toggle="tab" aria-expanded="true">Efectivo</a>
                    </li>
                    <li class=""><a href="#chequess" data-toggle="tab" aria-expanded="false">Cheques</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="efectivo">
                        <div class="col-md-4">
                            <strong>Importe</strong>
                            <input name="efectivo" id="importeefectivo" style="width: 200px;" type="text" value="{{entity.efectivo}}" />
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.oro) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.plata) }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="chequess">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <strong>Cheque 1</strong>
                                <a onclick="ver(this.id);" id="0" style="color: blue;"><i class="fa fa-minus"></i></a>
                            </div>
                            <div class="col-md-12" id="datos0">
                                <div class="col-xs-2">
                                    <select name="banco0" id="banco0">
                                        <option value="0">Banco</option>
                                        {% for banco in bancos %}<option value="{{ banco.id }}">
                                                {{  banco.descripcion }}</option>
                                        {% endfor %}</select>
                                </div>
                                <div class="col-xs-2">
                                    <select name="tipocheque0" id="tipocheque0">
                                        <option value="0">Tipo Cheque</option>
                                        {% for tipocheque in tipocheques %}<option value="{{ tipocheque.id }}">
                                                {{  tipocheque.descripcion }}</option>
                                        {% endfor %}</select>
                                </div>
                                <div class="col-xs-2">
                                    <input placeholder="Fecha emisi&oacute;n" name="fechaemision0" class="datetimepicker" />
                                </div>
                                <div class="col-xs-2">
                                    <input placeholder="Fecha cobro" name="fechacobro0" class="datetimepicker" />
                                </div>
                                <div class="col-xs-2"><input placeholder="Nro. Cheque" name="nrocheque0" /></div>
                                <div class="col-xs-2"><input placeholder="Importe" name="importe0" /></div>
                                <div class="col-xs-6"><input placeholder="Firmantes" name="firmantes0" /></div>
                                <div class="col-xs-6"><input placeholder="Cuit" name="cuit0" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <strong>Cheque 2</strong>
                                <a onclick="ver(this.id);" id="1" style="color: blue;"><i class="fa fa-minus"></i></a>
                            </div>
                            <div class="col-md-12" id="datos1">
                                <div class="col-xs-2">
                                    <select name="banco1" id="banco1">
                                        <option value="0">Banco</option>
                                        {% for banco in bancos %}<option value="{{ banco.id }}">
                                                {{  banco.descripcion }}</option>
                                        {% endfor %}</select>
                                </div>
                                <div class="col-xs-2">
                                    <select name="tipocheque1" id="tipocheque1">
                                        <option value="0">Tipo Cheque</option>
                                        {% for tipocheque in tipocheques %}<option value="{{ tipocheque.id }}">
                                                {{  tipocheque.descripcion }}</option>
                                        {% endfor %}</select>
                                </div>
                                <div class="col-xs-2">
                                    <input placeholder="Fecha emisi&oacute;n" name="fechaemision1" class="datetimepicker" />
                                </div>
                                <div class="col-xs-2">
                                    <input placeholder="Fecha cobro" name="fechacobro1" class="datetimepicker" />
                                </div>
                                <div class="col-xs-2"><input placeholder="Nro. Cheque" name="nrocheque1" /></div>
                                <div class="col-xs-2"><input placeholder="Importe" name="importe1" /></div>
                                <div class="col-xs-6"><input placeholder="Firmantes" name="firmantes1" /></div>
                                <div class="col-xs-6"><input placeholder="Cuit" name="cuit1" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <strong>Cheque 3</strong>
                                <a onclick="ver(this.id);" id="2" style="color: blue;"><i class="fa fa-minus"></i></a>
                            </div>
                            <div class="col-md-12" id="datos2">
                                <div class="col-xs-2">
                                    <select name="banco2" id="banco2">
                                        <option value="0">Banco</option>
                                        {% for banco in bancos %}<option value="{{ banco.id }}">
                                                {{  banco.descripcion }}</option>
                                        {% endfor %}</select>
                                </div>
                                <div class="col-xs-2">
                                    <select name="tipocheque2" id="tipocheque2">
                                        <option value="0">Tipo Cheque</option>
                                        {% for tipocheque in tipocheques %}<option value="{{ tipocheque.id }}">
                                                {{  tipocheque.descripcion }}</option>
                                        {% endfor %}</select>
                                </div>
                                <div class="col-xs-2">
                                    <input placeholder="Fecha emisi&oacute;n" name="fechaemision2" class="datetimepicker" />
                                </div>
                                <div class="col-xs-2">
                                    <input placeholder="Fecha cobro" name="fechacobro2" class="datetimepicker" />
                                </div>
                                <div class="col-xs-2"><input placeholder="Nro. Cheque" name="nrocheque2" /></div>
                                <div class="col-xs-2"><input placeholder="Importe" name="importe2" /></div>
                                <div class="col-xs-6"><input placeholder="Firmantes" name="firmantes2" /></div>
                                <div class="col-xs-6"><input placeholder="Cuit" name="cuit2" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <strong>Cheque 4</strong>
                                <a onclick="ver(this.id);" id="3" style="color: blue;"><i class="fa fa-minus"></i></a>
                            </div>
                            <div class="col-md-12" id="datos3">
                                <div class="col-xs-2">
                                    <select name="banco3" id="banco3">
                                        <option value="0">Banco</option>
                                        {% for banco in bancos %}<option value="{{ banco.id }}">
                                                {{  banco.descripcion }}</option>
                                        {% endfor %}</select>
                                </div>
                                <div class="col-xs-2">
                                    <select name="tipocheque3" id="tipocheque3">
                                        <option value="0">Tipo Cheque</option>
                                        {% for tipocheque in tipocheques %}<option value="{{ tipocheque.id }}">
                                                {{  tipocheque.descripcion }}</option>
                                        {% endfor %}</select>
                                </div>
                                <div class="col-xs-2">
                                    <input placeholder="Fecha emisi&oacute;n" name="fechaemision3" class="datetimepicker" />
                                </div>
                                <div class="col-xs-2">
                                    <input placeholder="Fecha cobro" name="fechacobro3" class="datetimepicker" />
                                </div>
                                <div class="col-xs-2"><input placeholder="Nro. Cheque" name="nrocheque3" /></div>
                                <div class="col-xs-2"><input placeholder="Importe" name="importe3" /></div>
                                <div class="col-xs-6"><input placeholder="Firmantes" name="firmantes3" /></div>
                                <div class="col-xs-6"><input placeholder="Cuit" name="cuit3" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <strong>Cheque 5</strong>
                                <a onclick="ver(this.id);" id="4" style="color: blue;"><i class="fa fa-minus"></i></a>
                            </div>
                            <div class="col-md-12" id="datos4">
                                <div class="col-xs-2">
                                    <select name="banco4" id="banco4">
                                        <option value="0">Banco</option>
                                        {% for banco in bancos %}<option value="{{ banco.id }}">
                                                {{  banco.descripcion }}</option>
                                        {% endfor %}</select>
                                </div>
                                <div class="col-xs-2">
                                    <select name="tipocheque4" id="tipocheque4">
                                        <option value="0">Tipo Cheque</option>
                                        {% for tipocheque in tipocheques %}<option value="{{ tipocheque.id }}">
                                                {{  tipocheque.descripcion }}</option>
                                        {% endfor %}</select>
                                </div>
                                <div class="col-xs-2">
                                    <input placeholder="Fecha emisi&oacute;n" name="fechaemision4" class="datetimepicker" />
                                </div>
                                <div class="col-xs-2">
                                    <input placeholder="Fecha cobro" name="fechacobro4" class="datetimepicker" />
                                </div>
                                <div class="col-xs-2"><input placeholder="Nro. Cheque" name="nrocheque4" /></div>
                                <div class="col-xs-2"><input placeholder="Importe" name="importe4" /></div>
                                <div class="col-xs-6"><input placeholder="Firmantes" name="firmantes4" /></div>
                                <div class="col-xs-6"><input placeholder="Cuit" name="cuit4" /></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <strong>Cheque 6</strong>
                                <a onclick="ver(this.id);" id="5" style="color: blue;"><i class="fa fa-minus"></i></a>
                            </div>
                            <div class="col-md-12" id="datos5">
                                <div class="col-xs-2">
                                    <select name="banco5" id="banco5">
                                        <option value="0">Banco</option>
                                        {% for banco in bancos %}<option value="{{ banco.id }}">
                                                {{  banco.descripcion }}</option>
                                        {% endfor %}</select>
                                </div>
                                <div class="col-xs-2">
                                    <select name="tipocheque5" id="tipocheque5">
                                        <option value="0">Tipo Cheque</option>
                                        {% for tipocheque in tipocheques %}<option value="{{ tipocheque.id }}">
                                                {{  tipocheque.descripcion }}</option>
                                        {% endfor %}</select>
                                </div>
                                <div class="col-xs-2">
                                    <input placeholder="Fecha emisi&oacute;n" name="fechaemision5" class="datetimepicker" />
                                </div>
                                <div class="col-xs-2">
                                    <input placeholder="Fecha cobro" name="fechacobro5" class="datetimepicker" />
                                </div>
                                <div class="col-xs-2"><input placeholder="Nro. Cheque" name="nrocheque5" /></div>
                                <div class="col-xs-2"><input placeholder="Importe" name="importe5" /></div>
                                <div class="col-xs-6"><input placeholder="Firmantes" name="firmantes5" /></div>
                                <div class="col-xs-6"><input placeholder="Cuit" name="cuit5" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <strong>Observaciones</strong>
                {{ form_widget(form.observacion) }}
            </div>
            <div style="display:none;">
                {{ form_widget(form.tipoDocumento) }}
            </div>
            <div style="display:none;">
                {{ form(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}		

    <script>
        $(document).ready(function () {
            $("input").each(function () {
                var css = $(this).attr('class');
                css = css + ' form-control';
                $(this).attr('class', css);
            });
            $("#fechaDocumento").removeAttr('required')
            $("#joyas_joyasbundle_documento_nrofactura").removeAttr('required');
            $("#joyas_joyasbundle_documento_nroremito").removeAttr('required');
            $("#joyas_joyasbundle_documento_observacion").removeAttr('required');
            $("#joyas_joyasbundle_documento_nrocomprobante").attr('readonly', 'readonly');
            ver(0);
            ver(1);
            ver(2);
            ver(3);
            ver(4);
            ver(5);
        });

        $("input").blur(function () {
            resultado();
        });

        $("#auto").click(function () {
            if ($("#auto").prop('checked')) {
                $("#joyas_joyasbundle_documento_nrocomprobante").removeAttr('required').val('').attr('readonly', 'readonly');
                $("#fechaDocumento").removeAttr('required').attr('readonly', 'readonly');
                $("#auto").val('false');
            } else {
                $("#joyas_joyasbundle_documento_nrocomprobante").attr('required', 'required').removeAttr('readonly');
                $("#fechaDocumento").attr('required', 'required').removeAttr('readonly');
                $("#auto").val('true');
            }
        });

        function resultado() {
            var efectivo = parseFloat($("#importeefectivo").val());
            var cheques = 0;
            var total = 0;
            for (var i = 0; i < 6; i++) {
                if ($('input[name=importe' + i + ']').val() != '') {
                    cheques = cheques + parseFloat($('input[name=importe' + i + ']').val());
                }
            }

            if (isNaN(cheques)) {
                cheques = 0;
            }
            if (isNaN(efectivo)) {
                efectivo = 0;
            }
            total = cheques + efectivo;

            $("#resefectivo").html(efectivo);
            $("#rescheques").html(cheques);
            $("#restotal").html(total);
            $("#joyas_joyasbundle_documento_importe").val(total);
        }
        function ver(id) {
            if ($('#' + id).html() == '<i class="fa fa-minus"></i>') {
                $('#' + id).html('<i class="fa fa-plus"></i>');
                $("#datos" + id).slideToggle();
                $('input[name=banco' + id + ']').val(0).removeAttr('required');
                $('input[name=tipocheque' + id + ']').val(0).removeAttr('required');
                $('input[name=nrocheque' + id + ']').val('').removeAttr('required');
                $('input[name=importe' + id + ']').val(0).removeAttr('required');
                $('input[name=fechaemision' + id + ']').val('').removeAttr('required');
                $('input[name=fechacobro' + id + ']').val('').removeAttr('required');
                $('input[name=firmantes' + id + ']').val('');
                $('input[name=cuit' + id + ']').val('');
            } else {
                $('#' + id).html('<i class="fa fa-minus"></i>');
                $("#datos" + id).slideToggle();
                $('input[name=banco' + id + ']').attr('required', 'required');
                $('input[name=tipocheque' + id + ']').attr('required', 'required');
                $('input[name=nrocheque' + id + ']').attr('required', 'required');
                $('input[name=importe' + id + ']').val('').attr('required', 'required');
                $('input[name=fechaemision' + id + ']').attr('required', 'required');
                $('input[name=fechacobro' + id + ']').attr('required', 'required');
                $('input[name=firmantes' + id + ']').val('');
                $('input[name=cuit' + id + ']').val('');
            }
        }
  
    </script>
    <style>
        #chequess .col-md-12 .col-xs-3,#chequess .col-md-12 .col-xs-2, #chequess .col-md-12 .col-xs-4,#chequess .col-md-12 .col-xs-6{
            padding-right:0px;
            padding-left:0px;    
        }
        #chequess .col-md-12{
            margin-top: 1%;
            margin-bottom: 1%;
        }

    </style>

{% endblock %}
