{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1 style="text-align:center;">
        {% if entity.tipoDocumento == 'F' %} Factura {{entity.id}} del proveedor {{entity.movimientocc.clienteproveedor}} {% endif %}
        {% if entity.tipoDocumento == 'C' %} Nota de Cr&eacute;dito {% endif %}
        {% if entity.tipoDocumento == 'D' %} Nota de D&eacute;bito {% endif %}
        {% if entity.tipoDocumento == 'R' %} Documento Recibo Cliente {% endif %}
        {% if entity.tipoDocumento == 'RP' %} Documento Recibo Proveedor {% endif %}
        {% if entity.tipoDocumento == 'A' %} Ajuste de Caja {% endif %}
        {% if entity.tipoDocumento == 'G' %} Gasto {% endif %}
    </h1>

    <table style="text-align: center; min-height: 300px; width: 350px; margin-bottom: 20px;border: inset;   margin: 0 auto;">
        <tbody>
            {% if entity.tipoDocumento == 'R' %}
                <tr>
                    <td style="border: inset;" colspan="2"><strong>DOCUMENTO RECIBO CLIENTE</strong></td>
                </tr>
                <tr>
                    <th  style="text-align: center;">Cliente</th>
                    <td>{{ entity.movimientocc.clienteProveedor }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Fecha</th>
                    <td>{{ entity.fecha|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Oro</th>
                    <td>}{{ entity.oroString }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Plata</th>
                    <td>{{ entity.plataString }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Importe</th>
                    <td>{{ entity.importeString }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Firma</th>
                    <td>....................</td>
                </tr>
            {% else %}               
                <tr>
                    <th style="text-align: center;">{{ entity.movimientocc.clienteProveedor.clienteProveedorStr|default('') }}</th>
                    <td>{{ entity.movimientocc.clienteProveedor }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Fecha del Documento</th>
                    <td>{{ entity.fecha|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Fecha de Registraci&oacute;n</th>
                    <td>{{ entity.fechaRegistracion|date('d-m-Y') }}</td>
                </tr>
                {% if entity.tipoDocumento != 'G' %}
                    <tr>
                        <th style="text-align: center;">Oro</th>
                        <td>{{ entity.oroString }} </td>
                    </tr>
                    <tr>
                        <th style="text-align: center;">Plata</th>
                        <td>{{ entity.plataString }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th style="text-align: center;">Importe</th>
                    <td>{{ entity.importeString }} </td>
                </tr>
            {% endif %}
            {% if entity.tipoDocumento == 'C' or entity.tipoDocumento == 'D' or entity.tipoDocumento == 'A' %}
                <tr>
                    <th style="text-align: center;">Observaci&oacute;n</th>
                    <td>{{ entity.observacion|raw }}</td>
                </tr>
            {% else  %}            
                <tr>
                    <th style="text-align: center;">Descripci&oacute;n</th>
                    <td>{{ entity.descripcion }}</td>
                </tr>
            {% endif  %}            
        </tbody>
    </table>

    <ul id="volver" class="record_actions" style="margin-top:2%;">
        <li style="text-align: center;">
            {% if entity.movimientocc.clienteProveedor %}
                <a class="btn btn-default" href="{{ path('clienteproveedor_cc', {id: entity.movimientocc.clienteProveedor.id})}}">
                    Cuenta Corriente
                </a>
            {% endif %}
            {% if entity.tipoDocumento == 'R' %}
                <a class="btn btn-default" href="javascript:imprSelec()">
                    Imprimir
                </a>
            {% endif %}
            {% if entity.tipoDocumento == 'D' or entity.tipoDocumento == 'C' or entity.tipoDocumento == 'A' %}
                <a class="btn btn-default" href="javascript:imprimir()">
                    Imprimir
                </a>
            {% endif %}
            <a class="btn btn-default" href="javascript:history.back();">
                Volver
            </a>
        </li>
    </ul>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.addimage.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.cell.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.javascript.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.sillysvgrenderer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.PLUGINTEMPLATE.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.autoprint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.total_pages.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.standard_fonts_metrics.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.split_text_to_size.js') }}"></script>               
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.from_html.js') }}"></script>	
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/dist/jspdf.debug.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/examples/js/basic.js') }}"></script>

    <script>
        function imprimir()
        {
            $('#volver').css('display', 'none');
            //imprimir
            window.print();
            $('#volver').css('display', 'block');
        }

        function imprSelec()
        {
            var doc = new jsPDF();

            doc.line(70, 13, 70, 95);
            doc.line(150, 13, 150, 95);

            doc.setFontSize(10);
            doc.line(70, 13, 150, 13);

            doc.text(82, 20, 'DOCUMENTO RECIBO CLIENTE');

            doc.line(70, 23, 150, 23);

            doc.text(80, 30, 'Cliente');
            doc.text(105, 30, '{{ entity.movimientocc.clienteProveedor }}');

            doc.text(80, 40, 'Fecha');
            doc.text(105, 40, '{{ entity.fecha|date('d-m-Y') }}');

            doc.text(80, 50, 'Oro');
            doc.text(105, 50, '{{ entity.oro }} gr');

            doc.text(80, 60, 'Plata');
            doc.text(105, 60, '{{ entity.plata }} gr');

            doc.text(80, 70, 'Importe');
            doc.text(105, 70, '{{ entity.importe }}');

            doc.text(80, 80, 'Moneda');
            doc.text(105, 80, '{{entity.monedaStr}}');

            doc.text(80, 90, 'Firma');
            doc.text(105, 90, '............................');

            doc.line(70, 95, 150, 95);

            doc.save('Recibo {{entity.id}}.pdf');
        }

    </script>
{% endblock %}
