{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1 style="text-align:center;">
        {% if entity.tipoDocumento == 'F' %} Factura {{entity.movimientocc.id}} del proveedor {{entity.movimientocc.clienteproveedor}} {% endif %}
    </h1>
    <div class="col-md-12" style="margin-bottom: 2%;">
        <table style="text-align: center; min-height: 300px;  margin-bottom: 20px;border: inset;   margin: 0 auto;">
            <tbody>
                <tr>
                    <th style="text-align: center;">{{ entity.movimientocc.clienteProveedor.clienteProveedorStr|default('') }}</th>
                    <td>{{ entity.movimientocc.clienteProveedor }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Fecha de la Factura</th>
                    <td>{{ entity.fecha|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Fecha de Registracion</th>
                    <td>{{ entity.fechaRegistracion|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Descuento</th>
                    <td>{{ entity.descuento }} % </td>
                </tr>
                <tr>
                    <th style="text-align: center;">Bonificaci&oacute;n</th>
                    <td>{{entity.monedaStr}} {{ entity.bonificacion }}</td>
                </tr>
                <tr>
                    <th colspan="2" style="text-align: center;">Productos</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>
                            <div class="col-xs-1">Cant.</div>
                            <div class="col-xs-8">Descripci&oacute;n ( C&oacute;digo )</div>
                            <div class="col-xs-1">Precio</div>
                            <div class="col-xs-1">Oro</div>
                            <div class="col-xs-1">Plata</div>
                        </strong>
                        {% for pD in entity.productosDocumento %}
                            <div class="col-xs-1">{{ pD.cantidad }}</div>
                            <div class="col-xs-8">{{ pD.producto.descripcion|length > 50 ? pD.producto.descripcion|slice(0, 50) ~ '...' : pD.producto.descripcion  }} ( {{ pD.producto.codigo }} )</div>
                            <div class="col-xs-1">{{ pD.precio }}</div>
                            <div class="col-xs-1">{{ pD.producto.oro }} gr</div>
                            <div class="col-xs-1">{{ pD.producto.plata }} gr</div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center;">Total Importe</th>
                    <td>{{entity.monedaStr}} {{ entity.importe }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Total Oro</th>
                    <td>{{ entity.oro }} gr</td>
                </tr>
                <tr>
                    <th style="text-align: center;">Total Plata</th>
                    <td>{{ entity.plata }} gr</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12" style="text-align:center;">
        <a class="btn btn-default" href="{{ path('clienteproveedor_cc', {id: entity.movimientocc.clienteProveedor.id})}}">
            Cuenta Corriente
        </a>
        <a class="btn btn-default" href="{{ path('documento_compras') }}">
            Volver
        </a>
    </div>
{% endblock %}
