{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1 style="margin-bottom:10px;">
        Listas de Precios
        <a style="float: right;" class="btn btn-default" href="{{ path('listaprecio_new') }}">
            Crear
        </a>
    </h1>
    <div class="tablasScroll">
        <table id="tablas" class="display">
            <thead>
                <tr>
                    <th>Descripci&oacute;n</th>
                    <th>Moneda</th>
                        {% if perfil == 'ADMINISTRADOR' %}							
                        <th>Unidad de Negocio</th>
                        {% endif %}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.descripcion }}</td>
                        <td>{{ entity.monedaStr }}</td>
                        {% if perfil == 'ADMINISTRADOR' %}							
                            <td>{{ entity.unidadNegocio }}</td>
                        {% endif %}
                        <td>
                            <a class="btn btn-default" href="{{ path('listaprecio_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger" href="{{ path('listaprecio_delete', { 'id': entity.id }) }}"><i class="fa fa-times"></i></a>                                                        
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
       activarActionsTab('listaprecio');
    </script>
{% endblock %}
