{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Alta de Lista de Precio</h1>
    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
		<div class="container">
			{{ form_start(form) }}
				{% if perfil == 'ADMINISTRADOR' %}			
					<div>
						<label>Unidad de Negocio</label>
						<select name="unidadnegocio">
							{% for unidad in unidades %}
								<option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}			
			{{ form_end(form) }}		
			<a class="btn btn-default" href="{{ path('listaprecio') }}">
				Volver
			</a>
		</div>
	</div>
<script>
	$(document).ready(function (){
		$("input").attr('class','form-control');
	});	
	
	// activarActionsTab('producto');
</script>
{% endblock %}
