{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>ListaPrecio</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Moneda</th>
                <td>{{ entity.monedaStr }}</td>
            </tr>
        </tbody>
    </table>

	<ul class="record_actions">
		<li>
			<a class="btn btn-default" href="{{ path('listaprecio_edit', { 'id': entity.id }) }}">
				Editar
			</a>
			<a class="btn btn-default" href="{{ path('listaprecio') }}">
				Volver
			</a>
		</li>
	</ul>
</ul>
<script>
	
	// activarActionsTab('producto');
</script>
{% endblock %}
