{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1 id="hh">Documento de Consignaci&oacute;n "{{ entity.id }}"</h1>
    <div>
        <table id="content" style="text-align: center; min-height: 300px; width: 100%; margin-bottom: 20px; border: inset;">
            <tr>
                <td style="border: inset;" colspan="5"><strong>DOCUMENTO CONSIGNACI&Oacute;N CLIENTE</strong></td>
            </tr>
            <tr>
                <td colspan="3"><strong>Cliente: </strong>{{ entity.clienteProveedor }}</td>
                <td><strong>Fecha: </strong>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
                <td><strong>Fecha Vencimiento: </strong>{% if entity.fechaVencimiento %}{{ entity.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr style="font-weight: bold;">
                <td>Cantidad</td>
                <td>C&oacute;digo</td>
                <td>Descripci&oacute;n</td>
                <td>P. Unitario</td>
                <td>Total</td>
            </tr>
            {% set length = 0  %}				
            {% for prodCon in entity.productosConsignacion %}
                {% set length = loop.length  %}				
                <tr style="height: 25px">
                    <td>
                        {{ prodCon.cantidad }}
                    </td>
                    <td>
                        {{ prodCon.producto.codigo }}
                    </td>
                    <td>
                        {{ prodCon.producto.descripcion }}
                    </td>
                    <td>
                        {{ entity.listaPrecio.monedaStr }} {{ prodCon.precio|number_format(2, '.', ',') }}
                    </td>
                    <td>
                        {{ entity.listaPrecio.monedaStr }} {{ (prodCon.precio * prodCon.cantidad)|number_format(2, '.', ',') }}
                    </td>
                </tr>
            {% endfor %}

            {% if length < 15 %}
                {% set numero = 15 - length %}
                {% for i in 0..numero %}
                    <tr style="height: 25px">
                        <td colspan="5">
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}								

            {% set importeFC = 0 %}
            {% for prodCon in entity.productosConsignacion %}
                {% set importeFC = (prodCon.precio * prodCon.cantidad) + importeFC %} 
            {% endfor %}

            {% set subtotal = importeFC %} 

            {% set importeFCInv = 0 %}

            {% if entity.descuento != '' %}															
                {% set desc = '0.' ~ (100 - entity.descuento)  %}																	
                {% set descInv = '0.' ~ entity.descuento  %}																	
                {% set importeFCInv = importeFC * descInv  %}																	
                {% set importeFC = importeFC * desc  %}																	
            {% endif %}

            {% if entity.bonificacion != '' %}															
                {% set importeFC = importeFC - entity.bonificacion %}																	
            {% endif %}

            <tr>
                <td style="text-align:right;" colspan="4">Sub Total</td><td style="border-top: inset;"> {{ entity.listaPrecio.monedaStr }} {{ subtotal|number_format(2, '.', ',') }}</td>					
            </tr>
            <tr>
                <td style="text-align:right;" colspan="4">Descuento "{{ entity.descuento }}%" </td><td>{{ entity.listaPrecio.monedaStr }} {{ importeFCInv|number_format(2, '.', ',') }} </td>					
            </tr>
            <tr>
                <td style="text-align:right;" colspan="4">Bonificaci&oacute;n </td><td>{{ entity.listaPrecio.monedaStr }} {{ entity.bonificacion }}</td>
            </tr>			
            <tr>
                <td style="text-align:right;" colspan="4">TOTAL </td><td>{{ entity.listaPrecio.monedaStr }} {{ importeFC|number_format(2, '.', ',') }}</td>	
            </tr>
        </table>
    </div>
    <div id="editor"></div>

    <ul id="oculto" class="record_actions">
        <li style="text-align: center;">
            <a class="btn btn-default" href="javascript:imprSelec()">
                Imprimir
            </a>
            <a class="btn btn-default" href="{{ path('consignacion') }}">
                Volver
            </a>
        </li>
    </ul>

    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.addimage.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.cell.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.javascript.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.sillysvgrenderer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.PLUGINTEMPLATE.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.autoprint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.total_pages.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.standard_fonts_metrics.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.split_text_to_size.js') }}"></script>               
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.from_html.js') }}"></script>	
      {#  <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/examples/js/jquery/jquery-1.7.1.min.js') }}"></script>
 #}<script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/examples/js/jquery/jquery-ui-1.8.17.custom.min.js') }}"></script>
     <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/dist/jspdf.debug.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/examples/js/basic.js') }}"></script>
 
    <script language="Javascript">

        function imprimirpagina() {
            $('#oculto').css({'display': 'none'});
            javascript:print();
            $('#oculto').css({'display': 'block'});
        }

        function imprSelec() {
            var doc = new jsPDF();

            doc.setFontSize(12);

            doc.line(10, 5, 198, 5);
            doc.text(25, 10, 'NUMERO: {{ entity.id }}');

            doc.setFontSize(10);
            doc.text(25, 13, 'Cliente: {{ entity.clienteProveedor }}');
            doc.text(140, 13, 'Fecha: {{ entity.fecha|date('Y-m-d H:i:s') }}');

            doc.line(10, 16, 198, 16);

            doc.text(18, 25, 'Cantidad');
            doc.text(48, 25, 'Codigo');
            doc.text(85, 25, 'Descripcion');
            doc.text(130, 25, 'P. Unitario');
            doc.text(176, 25, 'Total');

        {% set cont = 0 %}								
        {% set alto = 35 %}				
        {% for prodCon in entity.productosConsignacion %}
                doc.setFontSize(8);
                        doc.line(10, {{ alto - 3 }}, 198, {{ alto - 3 }});

                doc.text(23, {{ alto }}, '{{ prodCon.cantidad }}');
                        doc.text(44, {{ alto }}, '{{ prodCon.producto.codigo }}');
            {% if prodCon.producto.descripcion|length > 32 %}
                    doc.text(74, {{ alto }}, '{{ prodCon.producto.descripcion[0:30] }}...');
            {% else %}
                    doc.text(74, {{ alto }}, '{{ prodCon.producto.descripcion }}');
            {% endif %}
                    doc.text(130, {{ alto }}, '{{ entity.listaPrecio.monedaStr }} {{ prodCon.precio }}');
                            doc.text(170, {{ alto }}, '{{ entity.listaPrecio.monedaStr }} {{ prodCon.precio * prodCon.cantidad }}');

            {% set alto = alto + 4 %}								


            {% if  cont > 50 %}
                    doc.addPage();
                {% set alto = 25 %}								
                    doc.text(18, {{ alto }}, 'Cantidad');
                            doc.text(48, {{ alto }}, 'Codigo');
                            doc.text(85, {{ alto }}, 'Descripcion');
                            doc.text(130, {{ alto }}, 'P. Unitario');
                            doc.text(176, {{ alto }}, 'Total');
                {% set alto = 35 %}
                {% set cont = 0 %}								
            {% endif %}

            {% set cont = cont +1 %}								
        {% endfor %}

                doc.line(10, {{ alto - 3 }}, 198, {{ alto - 3}});

        {% set importeFC = 0 %}
        {% for prodCon in entity.productosConsignacion %}
            {% set importeFC = (prodCon.precio * prodCon.cantidad) + importeFC %} 
        {% endfor %}

        {% set subtotal = importeFC %} 

        {% set importeFCInv = 0 %}

        {% if entity.descuento != '' %}															
            {% set desc = '0.' ~ (100 - entity.descuento)  %}																	
            {% set descInv = '0.' ~ entity.descuento  %}																	
            {% set importeFCInv = importeFC * descInv  %}																	
            {% set importeFC = importeFC * desc  %}																	
        {% endif %}

        {% if entity.bonificacion != '' %}															
            {% set importeFC = importeFC - entity.bonificacion %}																	
        {% endif %}

                doc.setFontSize(12);

                doc.line(150, {{ alto + 20 }}, 190, {{ alto +20 }});
                        doc.text(110, {{ alto + 30 }}, 'Sub Total');
                        doc.text(150, {{ alto + 30 }}, '{{ entity.listaPrecio.monedaStr }} {{ subtotal }}');

                doc.text(110, {{ alto + 40 }}, 'Descuento {{ entity.descuento }}%');
                        doc.text(150, {{ alto + 40 }}, '{{ entity.listaPrecio.monedaStr }} {{ importeFCInv }}');

                doc.text(110, {{ alto + 50 }}, 'Bonificacion');
                        doc.text(150, {{ alto + 50 }}, '{{ entity.listaPrecio.monedaStr }} {{ entity.bonificacion }}');

                doc.text(110, {{ alto + 60 }}, 'TOTAL');
                        doc.text(150, {{ alto + 60 }}, '{{ entity.listaPrecio.monedaStr }} {{ importeFC }}');

                doc.save('Consignacion {{entity.id}}.pdf');
            }

            $(document).ready(function () {
                // activarActionsTab('consignaciones');
            });


    </script> 
{% endblock %}
