{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Edici&oacute;n de Metal</h1>

    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
        <div class="container">
            {{ form_start(form) }}
            {{ form_row(edit_form.descripcion) }}
            {% if ecommerce == 'SI'%}
                {{ form_row(edit_form.sinonimo) }}            
            {% endif%}
            {{ form_row(edit_form.estado) }}
            {{ form_widget(edit_form.submit) }}     
            <a class="btn btn-default" href="{{ path('metal')  }}">Volver</a>
            {{ form_end(edit_form) }}	
        </div>
    </div>

{% endblock %}
