{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MovimientoCC</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Uid</th>
                <td>{{ entity.uid }}</td>
            </tr>
            <tr>
                <th>Fecharegistracion</th>
                <td>{{ entity.fechaRegistracion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tipodocumento</th>
                <td>{{ entity.tipoDocumento }}</td>
            </tr>
            <tr>
                <th>Moneda</th>
                <td>{{ entity.moneda }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('movimientocc') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('movimientocc_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
