{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<h1 style="margin-bottom:10px;">
		Usuarios Web
	</h1>
	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Mail</th>
					<th>Tel&eacute;fono</th>
					<th>Estado</th>
					<th>Acci&oacute;n</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.nombre }}</td>
					<td>{{ entity.mail }}</td>
					<td>{{ entity.telefono }}</td>
					<td>
						{% if entity.estado == 'B' %}
							<span style="color:red; font-weight: 600;">{{ entity.estado }}</span>
						{% else %}
							<span style="color:green; font-weight: 600;">{{ entity.estado }}</span>
						{% endif %}
					</td>
					<td>
						{% if entity.estado == 'B' %}
						<a class="btn btn-default" href="{{ path('usuario_aprobarusuario', { 'id': entity.id }) }}" title="Aprobar"><i class="fa fa-check-square-o"></i></a>
						{% else %}
						<a class="btn btn-default" href="{{ path('usuario_desaprobarusuario', { 'id': entity.id }) }}" title="Desaprobar"><i class="fa fa-times"></i></a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
