{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1 style="margin-bottom:10px;">
        Cheques Disponibles
        <a style="float: right;" class="btn btn-success" href="{{ path('cheque_new') }}">
            Crear
        </a>
    </h1>

    <div class="tablasScroll">
        <table id="tablaSF" class="display">
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>ID</th>
                    <th>Nro.</th>
                    <th>Banco</th>
                    <th>Tipo</th>
                    <th>Emisi&oacute;n</th>
                    <th>Cobro</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Importe</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% for entity in entities %}
                    <tr>
                        {% if entity.estado == 'A' %}
                            {% set total = total + entity.importe %}
                            <td style="color: green;">
                                ACTIVO
                            </td>
                        {% endif %}
                        {% if entity.estado == 'U' %}
                            <td style="color: red;">
                                USADO
                            </td>
                        {% endif %}
                        {% if entity.estado == 'E' %}
                            <td style="color: red;">
                                ELIMINADO
                            </td>
                        {% endif %}
                        {% if entity.estado == 'Z' %}
                            <td style="color: red;">
                                RECHAZADO
                            </td>
                        {% endif %}
                        <td>CH-{{ entity.id }}</td>
                        <td>{{ entity.nrocheque }}</td>
                        <td>{{ entity.banco }}</td>
                        <td>{{ entity.tipocheque }}</td>
                        <td>{{ entity.fechaemision|date('Y-m-d') }}</td>
                        <td>{{ entity.fechacobro|date('Y-m-d') }}</td>
                        <td>
                            {% if entity.documento %}
                                <a href="{{ path('documento_show', { 'id': entity.documento.id }) }}">
                                    Recibo {{ entity.documento.movimientocc.id }}
                                </a>
                            {% else %} 
                                Alta Manual 
                            {% endif %}</td>
                        <td>
                            {% if entity.pago %}
                                <a href="{{ path('documento_show', { 'id': entity.pago.id }) }}">Pago {{ entity.pago.movimientocc.id }}
                                </a>
                            {% endif %}
                        </td>
                        <td>$ {{ entity.importe }}</td>
                        <td>
                            {% if entity.estado == 'A' %}
                                <a title="Eliminar" class="btn btn-danger" href="{{path('movimientocc_cambiarestado', {'id':entity.id, 'estado':'E'})}}"><i class="fa fa-times"></i></a>                            
                                <a title="Rechazado" class="btn btn-danger" href="{{path('movimientocc_cambiarestado', {'id':entity.id, 'estado':'Z'})}}">R</a>                            
                            {% endif %}
                            {% if entity.estado == 'U' %}
                                <a title="Rechazado" class="btn btn-danger" href="{{path('movimientocc_cambiarestado', {'id':entity.id, 'estado':'Z'})}}">R</a>                            
                            {% endif %}
                            {% if entity.estado == 'D' %}
                                <a title="Rechazado" class="btn btn-danger" href="{{path('movimientocc_cambiarestado', {'id':entity.id, 'estado':'Z'})}}"><i class="fa fa-times"></i></a>                            
                                {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="11"> Total Disponible: $ {{total}}</th>
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}
