{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1 style="margin-bottom:10px;">
        Cheques 
        <a style="float: right;" class="btn btn-default" href="{{ path('cheque_new') }}">
            Crear
        </a>
    </h1>
    <div class="tablasScroll">
        <table id="tablas" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha de Emisi&oacute;n</th>
                    <th>Fecha de Cobro</th>
                    <th>Importe</th>
                    <th>Nro. Cheque</th>
                    <th>Firmantes</th>
                    <th>Cuit</th>                
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('cheque_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{% if entity.fechaemision %}{{ entity.fechaemision|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if entity.fechacobro %}{{ entity.fechacobro|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.importe }}</td>
                        <td>{{ entity.nrocheque }}</td>
                        <td>{{ entity.firmantes }}</td>
                        <td>{{ entity.cuit }}</td>
                        <td>{{ entity.activo }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('cheque_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('cheque_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


