{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Cheque</h1>
    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
        <div class="container">
            <table class="record_properties">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Emisi&oacute;n</th>
                        <td>{{ entity.fechaemision|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Cobro</th>
                        <td>{{ entity.fechacobro|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Importe</th>
                        <td>{{ entity.importe }}</td>
                    </tr>
                    <tr>
                        <th>Nro. Cheque</th>
                        <td>{{ entity.nrocheque }}</td>
                    </tr>
                    <tr>
                        <th>Firmantes</th>
                        <td>{{ entity.firmantes }}</td>
                    </tr>
                    <tr>
                        <th>Cuit</th>
                        <td>{{ entity.cuit }}</td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td>{{ entity.estado }}</td>
                    </tr>
                </tbody>
            </table>

            <a class="btn btn-default" href="{{ path('cheque')  }}">Volver</a>
        </div>
    </div>	
    <script>
        // activarActionsTab('cheque');
    </script>    
{% endblock %}
