{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1>Edici&oacute;n de Tipo de Cheque</h1>
    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
        <div class="container">
            {{ form(edit_form) }}
            <a class="btn btn-default" href="{{ path('tipocheque')  }}">Volver</a>
        </div>
    </div>	
<script>
	// activarActionsTab('tipocheque');
</script>
{% endblock %}
