<table style="text-align: center; height: 600px; width: 100%; margin-bottom: 20px;">
	<tr>
		<td colspan="5"><strong>DOCUMENTO FACTURA CLIENTE</strong></td>
	</tr>
	<tr>
		<td><strong>Cliente: </strong>{{ entity.movimientocc.clienteProveedor }}</td>
		<td><strong>Fecha: </strong>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
	</tr>
	<tr >
		<td>Cantidad</td>
		<td>Codigo</td>
		<td>Descripcion</td>
		<td>P. Unitario</td>
		<td>Total</td>
	</tr>
	{% set length = 0  %}				
	{% for prodFact in entity.productosFactura %}
		{% set length = loop.length  %}				
		<tr style="height: 25px">
			<td>
				{{ prodFact.cantidad }}
			</td>
			<td>
				{{ prodFact.producto.codigo }}
			</td>
			<td>
				{{ prodFact.producto.descripcion }}
			</td>
			<td>
				{{ entity.movimientocc.monedaStr }} {{ prodFact.precio }}
			</td>
			<td>
				{{ entity.movimientocc.monedaStr }} {{ prodFact.precio * prodFact.cantidad }}
			</td>
		</tr>
	{% endfor %}

		{% if length < 15 %}
			{% set numero = 15 - length %}
			{% for i in 0..numero %}
				<tr style="height: 25px">
					<td colspan="5">
					</td>
				</tr>
			{% endfor %}
		{% endif %}								
	
		{% set importeFC = 0 %}
		{% for prodFact in entity.productosFactura %}
			{% set importeFC = (prodFact.precio * prodFact.cantidad) + importeFC %} 
		{% endfor %}

		{% set subtotal = importeFC %} 
															
		{% set importeFCInv = 0 %}
		
		{% if entity.descuento != '' %}															
			{% set desc = '0.' ~ (100 - entity.descuento)  %}																	
			{% set descInv = '0.' ~ entity.descuento  %}																	
			{% set importeFCInv = importeFC * descInv  %}																	
			{% set importeFC = importeFC * desc  %}																	
		{% endif %}

		{% if entity.bonificacion != '' %}															
			{% set importeFC = importeFC - entity.descuento %}																	
		{% endif %}

		<tr>
			<td style="text-align:right;" colspan="4">Sub Total</td><td style="border-top: inset;"> {{ entity.movimientocc.monedaStr }} {{ subtotal }}</td>					
		</tr>
		<tr>
			<td style="text-align:right;" colspan="4">Descuento "%{{ entity.descuento }}" </td><td>{{ entity.movimientocc.monedaStr }} {{ importeFCInv }} </td>					
		</tr>
		<tr>
			<td style="text-align:right;" colspan="4">Bonificacion </td><td>{{ entity.movimientocc.monedaStr }} {{ entity.bonificacion }}</td>
		</tr>			
		<tr>
			<td style="text-align:right;" colspan="4">TOTAL </td><td>{{ entity.movimientocc.monedaStr }} {{ importeFC }}</td>					
		</tr>
</table>
