{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1>Creaci&oacute;n de Factura</h1>
    <div class="joyas-container facturas" style="width: 100% !important; margin: 0 auto;">
        <div class="container">
            <form action="{{ path('factura_create') }}" method="POST" id="form" onKeypress="if (event.keyCode == 13)
                        event.returnValue = false;">
                <div class="facturaVenta">
                    <label>Cliente</label>
                    <select name="cliente" id="cliente">
                        <option value="0">Elija</option>
                        {% for cliente in clientes %}                           
                            <option value="{{cliente.id}}">{{cliente.razonSocial}}</option>
                        {% endfor %}				
                    </select>
                </div>
                <div class="facturaVenta">
                    <label>Lista de Precio</label><br>
                    <div style="margin-bottom: 10px;">
                        {{ listaPrecio.descripcion }}
                        {% if perfil == 'ADMINISTRADOR' %}
                            - {{ listaPrecio.unidadNegocio }}
                        {% endif %}
                    </div>
                    <input type="hidden" value="{{ listaPrecio.id }}" name="listaPrecio" />
                </div>
                <div class="facturaVenta">
                    <label>Descuento</label>
                    <input type="number" name="descuento" onblur="$('#desc').html('%' + this.value);
                            calcularResultado();" id="descuento" min="0" max="100" value="0" required />
                </div>
                <div class="facturaVenta">
                    <label>Bonificaci&oacute;n</label>
                    <input type="type" name="bonificacion" onblur="$('#bonif').html(this.value);
                            calcularResultado();" id="bonificacion" min="0" value="0" required />
                </div>

                <div style="width: 100%;float: left;">
                    <table class="table table-condensed ado">
                        <thead>
                            <tr>
                                <th style='width: 15%'>Cantidad</th>
                                <th style='width: 15%'>C&oacute;digo</th>
                                <th style='width: 45%'>Descripci&oacute;n</th>
                                <th style='width: 15%'>Precio</th>
                                <th style='width: 10%'  >Acci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody id="agregar">
                            <tr id="lineaAgregada0">
                                <td>
                                    <input type="text" pattern="^-?[0-9]+(\.[0-9]{1,2})?$" onblur="calcularResultado();" name="cantidad0" id="cantidad0" readonly class="desb" required />
                                </td>
                                <td>
                                    <input name="codigo0" onblur="cargarProd(0);" id="codigo0" required class="desb" readonly/>
                                </td>
                                <td>
                                    <input name="descripcion0" class="form-control desb" id="descripcion0" onkeyup="predictiva(0, this.value, event);" required readonly />
                                    <div style="z-index: 1000;" id="sugerencia0"></div>                                   
                                </td>
                                <td><input name="precio0" class="desb  precio" id="precio0" required readonly pattern="^-?[0-9]+(\.[0-9]{1,2})?$" onblur="calcularResultado();"/></td>
                                <td><a  id="eliminar0" onclick="borrarLinea(0);" class="btn btn-default" disabled>Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="botones" id="botones">
                    <a class="btn btn-success" href="#" id="emitir" onclick="comprobarDatos();">
                        Emitir Factura
                    </a>
                    <a class="btn btn-default" href="{{ path('factura') }}">
                        Volver
                    </a>
                    <!-- <br>
                     <strong> Paga con tarjeta?</strong>
                     <input type="checkbox" name="tarjeta" placeholder="tarjeta" /> 
                    -->
                </div>
                <div class="saldo"> 	
                    <table style="text-align: right">
                        <tr>
                            <td><strong>Sub Total:</strong></td>
                            <td><span id="subtotal"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Descuento:</strong></td>
                            <td><span id="desc"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Bonificaci&oacute;n:</strong></td>
                            <td>(-) <span id="bonif"></span></td>
                        </tr>
                        <tr>
                            <td><strong>SALDO TOTAL:</strong></td>
                            <td><strong><span id="resultado"></span></strong><input id="resultadoFinal" name="resultadoFinal" type="hidden" value="0" /></td>
                        </tr>
                        <tr> 
                            <td> Metales</td> 
                        </tr>    
                        <tr>
                            <td>  
                                <label>Oro</label>
                                <input name="oro" placeholder="Oro" value="0" min="0" required/>
                            </td>
                            <td>  
                                <label>Plata</label>
                                <input name="plata" placeholder="Plata" value="0" min="0" required/>
                            </td>
                        </tr>
                    </table>
                </div>
                <input name="consignacion" id="consignacion" type="hidden" value="no"/>
                <input name="contador" id="contador" type="hidden" value="1"/>
                <input name="tipo" id="tipo" type="hidden" value=""/>
            </form>
        </div>
    </div>
    <style>
        .pointer {cursor: pointer;}
    </style>
    <script>
        var idlista = '{{listaPrecio.id}}';
        var contador = 1;
        var moneda = '{{listaPrecio.monedaSimbolo}}';

        function comprobarDatos() {
            $('#botones').css({'display': 'none'});
            if ($('#cliente').val() != '0') {
                $('#form').submit();
            } else {
                alert('Debe elegir Cliente y al menos UN producto para poder emitir la factura.');
                $('#botones').css({'display': 'block'});
            }
        }

        function agregar() {
            $("#agregar").append('<tr id="lineaAgregada' + contador + '"><td><input class="desb form-control" name="cantidad' + contador + '" id="cantidad' + contador + '" onblur="calcularResultado();" required /></td><td><input class="desb form-control" onblur="cargarProd(' + contador + ');" name="codigo' + contador + '" id="codigo' + contador + '" required /></td><td><input name="descripcion' + contador + '" class="form-control desb" id="descripcion' + contador + '" onkeyup="predictiva(' + contador + ', this.value,event);" required readonly /><div style="z-index: 1000;" id="sugerencia' + contador + '"></div></td><td><input name="precio' + contador + '" id="precio' + contador + '" required pattern="^-?[0-9]+(\.[0-9]{1,2})?$" onblur="calcularResultado();" class="desb precio form-control"/></td><td><a id="eliminar' + contador + '" onclick="borrarLinea(' + contador + ')" class="btn btn-default" disabled>Eliminar</a></td></tr>');

            if ($('#cliente').val() != '0' && $('#listaPrecio').val() != '0') {
                $('.desb').removeAttr('readonly');
            } else {
                $('.desb').prop('readonly', 'readonly');
            }
            $('#cantidad' + contador).focus();

            anterior = contador - 1;
            $('#eliminar' + anterior).removeAttr('disabled');
            contador = contador + 1;
            $('#contador').val(contador);
            $('#cantidad' + contador).focus();
        }

        function borrarLinea(cont) {
            var id = '#lineaAgregada' + cont;
            $(id).remove();
            calcularResultado();
        }

        function cargarProd(cont) {
            if ($('#codigo' + cont).hasClass('desb')) {
                var valor = $('#codigo' + cont).val().trim();
                if (valor == '000') {
                    $('#codigo' + cont).removeClass('desb').prop('readonly', true).attr("onblur", "");
                    $('#descripcion' + cont).val('Producto Genérico').removeClass('desb').prop('readonly', true).attr("onblur", "");
                    agregar();
                    $('#cantidad' + contador).focus();
                }else if (valor != '') {
                    $.post('{{path('precio_producto')}}', {data: valor, data3: idlista})
                            .done(function (data) {
                                var producto = JSON.parse(data);
                                if (!$.isEmptyObject(producto)) {
                                    $('#precio' + cont).val(producto.precio);
                                    $('#codigo' + cont).val(producto.codigo).removeClass('desb').prop('readonly', true).attr("onblur", "");
                                    $('#descripcion' + cont).val(producto.descripcion).removeClass('desb').prop('readonly', true).attr("onblur", "");
                                    if ($('#cantidad' + cont).val().trim() == '' || $('#cantidad' + cont).val().trim() == 0) {
                                        $('#cantidad' + cont).val(1);
                                    }
                                    if (producto.stock < 1 || producto.stock < $('#cantidad' + cont).val()) {
                                        alert('El stock es insuficiente para este producto.');
                                    }

                                    agregar();
                                    $('#cantidad' + contador).focus();
                                } else {
                                    $('#codigo' + cont).val('');
                                    $('#codigo' + cont).focus();
                                }
                            }
                            , "json");
                } else {
                    $('#precio' + cont).val('');
                    $('#descripcion' + cont).val('');
                }
                calcularResultado();
            }
        }

        function calcularResultado() {
            var total = 0;
            var subtotal = 0;
            for (i = 0; i < contador; i++) {
                if (typeof $('#precio' + i).val() === "undefined") {
                } else {
                    if ($('#precio' + i).val() != '') {
                        subtotal = subtotal + ($('#precio' + i).val() * $('#cantidad' + i).val());
                    }
                }
            }

            if (subtotal != 0) {
                if ($('#descuento').val() != '') {
                    var desc = (100 - $('#descuento').val()) / 100;
                    var descInv = $('#descuento').val() / 100;
                    total = (subtotal * desc) - $('#bonificacion').val();

                    var dd = subtotal * descInv;
                    dd = Math.round(dd * 100) / 100;
                    $('#desc').html('%' + $('#descuento').val() + '(' + moneda + ' ' + dd + ')');
                } else {
                    total = subtotal - $('#bonificacion').val();
                }
            }

            subtotal = Math.round(subtotal * 100) / 100;
            total = Math.round(total * 100) / 100;

            $('#subtotal').html(moneda + ' ' + subtotal);
            $('#resultado').html(moneda + ' ' + total);
            $('#resultadoFinal').val(total);
        }

        function predictiva(cont, val, event) {

            $.post('{{path('precio_predictiva')}}', {data: val, data2: $('#unidadnegocio').val(), data3: idlista})
                    .done(function (data) {
                        if (!$('#codigo' + cont).is('[readonly]')) {
                            $('#sugerencia' + cont).fadeIn(1000).html(data);
                            $('.suggest-element').on('click', function () {
                                var stock = $(this).attr('stock');
                                if (stock < 1 || stock < $('#cantidad' + cont).val()) {
                                    alert('El stock es insuficiente para este producto.');
                                }
                                if ($('#cantidad' + cont).val().trim() == '' || $('#cantidad' + cont).val().trim() == 0) {
                                    $('#cantidad' + cont).val(1);
                                }
                                $('#precio' + cont).val($(this).data('precio'));
                                $('#codigo' + cont).val($(this).data('codigo')).removeClass('desb').prop('readonly', true).attr("onblur", "");
                                $('#descripcion' + cont).val($(this).data('descripcion')).removeClass('desb').prop('readonly', true).attr("onblur", "");

                                $('#sugerencia' + cont).fadeOut();
                                agregar();
                                $('#cantidad' + contador).focus();
                                calcularResultado();
                            });
                        }
                    });
        }
        $(document).ready(function () {
            $('input').blur(function () {
                var str = $(this).val();
                $(this).val(str.replace(",", "."));
                calcularResultado();
            });

            $('#cliente').change(function () {
                if ($('#cliente').val() != '0') {
                    $('.desb').removeAttr('readonly');
                } else {
                    $('.desb').prop('readonly', 'readonly');
                    $('table input').val('');
                }
            });
            $('#cliente').blur(function () {
                if ($('#cliente').val() != '0') {
                    $('.desb').removeAttr('readonly');
                } else {
                    $('.desb').prop('readonly', 'readonly');
                    $('table input').val('');
                }
            });
        });

    </script>
{% endblock %}
