{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1 id="hh">Documento de Factura "{{ entity.id }}"</h1>
    <div id="contenido">
        <table id="content" style="text-align: center; min-height: 300px; width: 100%; margin-bottom: 20px; border: inset;">
            <tr>
                <td style="border: inset;" colspan="5"><strong>DOCUMENTO FACTURA CLIENTE</strong></td>
            </tr>
            <tr>
                <td colspan="3"><strong>Cliente: </strong>{{ entity.movimientocc.clienteProveedor }}</td>
                <td colspan="2"><strong>Fecha: </strong>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr style="font-weight: bold;">
                <td>Cantidad</td>
                <td>C&oacute;digo</td>
                <td>Descripci&oacute;n</td>
                <td>P. Unitario</td>
                <td>Total</td>
            </tr>
            {% set length = 0  %}
            {% for prodFact in entity.productosFactura %}
                {% set length = loop.length  %}				
                <tr style="height: 25px">
                    <td>
                        {{ prodFact.cantidad }}
                    </td>
                    <td>
                        {{ prodFact.producto.codigo }}
                    </td>
                    <td>
                        {{ prodFact.producto.descripcion }}
                    </td>
                    <td>
                        {{ entity.movimientocc.monedaSimbolo }} {{ prodFact.precio|number_format(2, '.', ',') }}
                    </td>
                    <td>
                        {{ entity.movimientocc.monedaSimbolo }} {{ (prodFact.precio * prodFact.cantidad)|number_format(2, '.', ',') }}
                    </td>
                </tr>
            {% endfor %}

            {% if length < 15 %}
                {% set numero = 15 - length %}
                {% for i in 0..numero %}
                    <tr style="height: 25px">
                        <td colspan="5">
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}								

            {% set importeFC = 0 %}
            {% for prodFact in entity.productosFactura %}
                {% set importeFC = (prodFact.precio * prodFact.cantidad) + importeFC %} 
            {% endfor %}

            {% set subtotal = importeFC %} 

            {% set importeFCInv = 0 %}

            {% if entity.descuento != '' %}															
                {% set desc = (100 - entity.descuento) / 100  %}																	
                {% set descInv = entity.descuento / 100  %}																	
                {% set importeFCInv = importeFC * descInv  %}																	
                {% set importeFC = importeFC * desc  %}																	
            {% endif %}

            {% if entity.bonificacion != '' %}															
                {% set importeFC = importeFC - entity.bonificacion %}																	
            {% endif %}

            <tr>
                <td style="text-align:right;" colspan="4">Sub Total</td><td style="border-top: inset;"> {{ entity.movimientocc.monedaSimbolo }} {{ subtotal|number_format(2, '.', ',') }}</td>					
            </tr>
            <tr>
                <td style="text-align:right;" colspan="4">Descuento "{{ entity.descuento }}%" </td><td>{{ entity.movimientocc.monedaSimbolo }} {{ importeFCInv|number_format(2, '.', ',') }} </td>					
            </tr>
            <tr>
                <td style="text-align:right;" colspan="4">Bonificaci&oacute;n </td><td>{{ entity.movimientocc.monedaSimbolo }} {{ entity.bonificacion }}</td>
            </tr>			
            <tr>
                <td style="text-align:right;" colspan="4">TOTAL </td>
                <td>
                    {{ entity.movimientocc.monedaSimbolo|default('') }} {{ importeFC|number_format(2, '.', ',') }} 					
                </td>	
            </tr>
            <tr>
                <td style="text-align:right;" colspan="4">TOTAL ORO</td>
                <td>
                    {{ entity.oro|default('--') }} gr				
                </td>	
            </tr>
            <tr>
                <td style="text-align:right;" colspan="4">TOTAL PLATA</td>
                <td>
                    {{ entity.plata|default('--') }} gr 					
                </td>	
            </tr>
        </table>
    </div>
    <div id="editor"></div>
    <ul id="oculto" class="record_actions">
        <li style="text-align: center;">
            <a class="btn btn-default" href="{{ path('documento_new', {'tipo': 'R', 'cliente': entity.movimientocc.clienteProveedor.id, 'importe': entity.importe, 'oro': entity.oro, 'plata': entity.plata, 'tarjeta': entity.movimientocc.tarjeta, 'moneda':entity.movimientocc.moneda})}}">
                Cobrar
            </a>
            <a class="btn btn-default" href="{{ path('clienteproveedor_cc', {id: entity.movimientocc.clienteProveedor.id})}}">
                Cuenta Corriente
            </a>
            <a class="btn btn-default" href="javascript:imprSelec()">
                Imprimir
            </a>
            <a class="btn btn-default" href="{{ path('factura') }}">
                Volver
            </a>
        </li>
    </ul>


    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.addimage.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.cell.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.javascript.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.sillysvgrenderer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.PLUGINTEMPLATE.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.autoprint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.total_pages.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.standard_fonts_metrics.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.split_text_to_size.js') }}"></script>               
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/jspdf.plugin.from_html.js') }}"></script>	
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/dist/jspdf.debug.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/joyas/js/jsPDF/examples/js/basic.js') }}"></script>
    <script language="Javascript">

        function imprSelec()
        {
            var doc = new jsPDF();

            doc.setFontSize(12);

        doc.line(10, 5, 198, 5);    
            doc.text(25, 10, 'NUMERO: {{ entity.id }}');

        doc.setFontSize(10);    
        doc.text(25, 13, 'Cliente: {{ entity.movimientocc.clienteProveedor }}');    
            doc.text(140, 13, 'Fecha: {{ entity.fecha|date('Y-m-d H:i:s') }}');

            doc.line(10, 16, 198, 16);

            doc.text(18, 25, 'Cantidad');
            doc.text(48, 25, 'Codigo');
            doc.text(85, 25, 'Descripcion');
            doc.text(130, 25, 'P. Unitario');
            doc.text(176, 25, 'Total');

        {% set cont = 0 %}								
        {% set alto = 35 %}				
        {% for prodFact in entity.productosFactura %}
                doc.setFontSize(8)    ;
                        doc.line(10, {{ alto - 3 }}, 198, {{ alto - 3 }});    

                doc.text(23, {{ alto }}, '{{ prodFact.cantidad }}')    ;
                            doc.text(44, {{ alto }}, '{{ prodFact.producto.codigo }}');
                {% if prodFact.producto.descripcion|length > 32 %}
                            doc.text(74, {{ alto }}, '{{ prodFact.producto.descripcion[0:30] }}...');
                {% else %}
                            doc.text(74, {{ alto }}, '{{ prodFact.producto.descripcion }}');
            {% endif %}
                        doc.text(130, {{ alto }}, '{{ entity.movimientocc.monedaSimbolo }} {{ prodFact.precio }}')    ;
                                    doc.text(170, {{ alto }}, '{{ entity.movimientocc.monedaSimbolo }} {{ prodFact.precio * prodFact.cantidad }}');

            {% set alto = alto + 4 %}								

            {% if  cont > 50 %}
                            doc.addPage();
                {% set alto = 25 %}								
                        doc.text(18, {{ alto }}, 'Cantidad'    );
                                doc.text(48, {{ alto }}, 'Codigo'    );
                                doc.text(85, {{ alto }}, 'Descripcion'    );
                                doc.text(130, {{ alto }}, 'P. Unitario'    );
                                    doc.text(176, {{ alto }}, 'Total');
                {% set alto = 35 %}
                {% set cont = 0 %}								
            {% endif %}

            {% set cont = cont +1 %}								
        {% endfor %}
    
                    doc.line(10, {{ alto - 3 }}, 198, {{ alto - 3}});

        {% set importeFC = 0 %}
        {% for prodFact in entity.productosFactura %}
            {% set importeFC = (prodFact.precio * prodFact.cantidad) + importeFC %} 
        {% endfor %}

        {% set subtotal = importeFC %} 

        {% set importeFCInv = 0 %}

        {% if entity.descuento != '' %}															
            {% set desc = (100 - entity.descuento) / 100  %}																	
            {% set descInv = entity.descuento / 100  %}																	
            {% set importeFCInv = importeFC * descInv  %}																	
            {% set importeFC = importeFC * desc  %}																	
        {% endif %}

        {% if entity.bonificacion != '' %}															
            {% set importeFC = importeFC - entity.bonificacion %}																	
        {% endif %}

                    doc.setFontSize(12);
    
                doc.line(150, {{ alto + 20 }}, 190, {{ alto +20 }});    
                        doc.text(110, {{ alto + 30 }}, 'Sub Total');    
                            doc.text(150, {{ alto + 30 }}, '{{ entity.movimientocc.monedaSimbolo }} {{ subtotal }}');
    
                doc.text(110, {{ alto + 40 }}, 'Descuento %{{ entity.descuento }}');    
                            doc.text(150, {{ alto + 40 }}, '{{ entity.movimientocc.monedaSimbolo }} {{ importeFCInv }}');
    
                doc.text(110, {{ alto + 50 }}, 'Bonificacion');    
                            doc.text(150, {{ alto + 50 }}, '{{ entity.movimientocc.monedaSimbolo }} {{ entity.bonificacion }}');
    
                doc.text(110, {{ alto + 60 }}, 'TOTAL');    
                            doc.text(150, {{ alto + 60 }}, '{{ entity.movimientocc.monedaSimbolo }} {{ importeFC }}');
    
                doc.text(55, {{ alto + 70 }}, 'TOTAL ORO');    
                            doc.text(90, {{ alto + 70 }}, '{{ entity.oro|default('--') }} gr');
    
                doc.text(110, {{ alto + 70 }}, 'TOTAL PLATA');    
                            doc.text(150, {{ alto + 70 }}, '{{ entity.plata|default('--') }} gr');
    
                    doc.save('Factura {{entity.id}}.pdf');
                }

                $(document).ready(function () {
                });


    </script> 
{% endblock %}
