{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 > Detalle de Gramos de Oro </h1>
        </div>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-cubes fa-fw"></i> Stock de Productos por Metal - Categor&iacute;a - Subcategor&iacute;a
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    {% for cantidad in cantidadPorCategoria %}
                        <a href="#" class="list-group-item">
                            </i>{{cantidad.metal}} - {{ cantidad.categoria  }} - {{ cantidad.subcategoria  }}
                            <span class="pull-right text-muted small"><em>{{ cantidad.total}} Gramos</em>
                            </span>
                        </a>
                    {% endfor%}
                </div>
                <!-- /.list-group -->
                <a href="{{ path('producto_dashBoardProducto',{ 'unidad': unidad }) }}" class="btn btn-default btn-block">Volver</a>
            </div>
            <!-- /.panel-body -->
        </div>    
    </div>                    
{% endblock %}
