{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <div class="row" id="header">
        <div class="col-lg-12">
            <h1 class="page-header">
                C&oacute;digos a Imprimir
                <a style="float:right;" class="btn btn-default" href="{{ path('producto') }}">Volver</a>
                <a style="float:right;" class="btn btn-default" onclick="imprimir();" href="#">
                    Imprimir
                </a>
            </h1>
        </div>
    </div>
    <div style="width:620px; margin: 0 auto;">
        {% for i in 1..cantidad %}
            {% set resultado = loop.index % 3 %}
            {% if loop.index < 3 %}
                <div style="width: 110px; height: 60px; float: left; padding: 6px; margin-right: 100px; margin-bottom: 30px; margin-top: 20px;">
                    <img style="margin-right: 20px; margin-bottom:10px;" src="{{ asset('barcode/html//image.php?filetype=PNG&dpi=72&scale=1&rotation=0&font_family=Arial.ttf&font_size=8&text=' ~ codigo ~ '&thickness=20&checksum=&code=BCGcode128') }} " alt="Barcode Image"/>
                </div>
            {% endif %}
            {% if resultado == 0 %}
                {% if loop.index == 3 %}
                    <div style="width: 110px; height: 60px; float: left; padding: 6px; margin-right: 35px; margin-bottom: 30px; margin-top: 20px;">
                        <img style="margin-right: 20px; margin-bottom:10px;" src="{{ asset('barcode/html//image.php?filetype=PNG&dpi=72&scale=1&rotation=0&font_family=Arial.ttf&font_size=8&text=' ~ codigo ~ '&thickness=20&checksum=&code=BCGcode128') }}" alt="Barcode Image"/>
                    </div>
                {% else %}
                    <div style="width: 110px; height: 60px; float: left; padding: 6px; margin-right: 35px; margin-bottom: 45px; margin-top: 20px;">
                        <img style="margin-right: 20px; margin-bottom:10px;" src="{{ asset('barcode/html//image.php?filetype=PNG&dpi=72&scale=1&rotation=0&font_family=Arial.ttf&font_size=8&text=' ~ codigo ~ '&thickness=20&checksum=&code=BCGcode128') }}" alt="Barcode Image"/>
                    </div>
                {% endif %}
            {% endif %}
            {% if loop.index > 3 and resultado!=0 %}
                <div style="width: 110px; height: 60px; float: left; padding: 6px; margin-right: 100px; margin-bottom: 45px; margin-top: 20px;">
                    <img style="margin-right: 20px; margin-bottom:10px;" src="{{ asset('barcode/html//image.php?filetype=PNG&dpi=72&scale=1&rotation=0&font_family=Arial.ttf&font_size=8&text=' ~ codigo ~ '&thickness=20&checksum=&code=BCGcode128') }}" alt="Barcode Image"/>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <script>

        function imprimir() {
            $('#header').css('display', 'none');
            window.print();
            $('#header').css('display', 'initial');
        }

    </script>
{% endblock %}
