{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 > Seleccione Unidad de Negocio </h1>
        </div>
    </div>    
    <div class="controls filtrocuerpo">
        <form action="{{ path('producto_dashBoardProducto') }}" method="POST" style="margin-top: 20px;" autocomplete="off">
            <div class="control-group" style="text-align: center">
                <div class="controls">
                    Unidad de Negocio: 
                    <select name="unidadN" class="form-control" style="width: 300px !important; margin: 0 auto;">
                        <option value="">Todas las Unidades de Negocio</option>                        
                        {% for unidad in unidades %}
                            <option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br />
                <button class="btn btn-default" type="submit">Ingresar</button>
            </div>
        </form>

    </div>
{% endblock %}
