{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
        Producto
        <a class="btn btn-default" style="float:right;" href="javascript:history.back();">
            Volver
        </a>
    </h1>
    <div class="tablasScroll" style="text-align:center;">
        <div class="tablasScroll col-md-12" style="overflow-y: auto;">
            {% if entity.imagenesproducto|length > 0 %}
                {% for imgp in entity.imagenesproducto %}
                    <img width="200px" src="{{ asset(imgp.WebPath) }}" />
                {% endfor %}
            {% else %}
                SIN IM&Aacute;GEN
            {% endif %}
        </div>
        <div class="col-md-12">
            <table class="display" style="width: 100%;">
                <tbody>
                    <tr>
                        <th>Categor&iacute;a</th>
                        <th>C&oacute;digo</th>
                        <th>Descripci&oacute;n</th>
                        <th>Tipo de Stock</th>
                        <th>Stock</th>
                        <th>Hechura</th>
                        <th>Gramos de Plata</th>
                        <th>Gramos de Oro</th>
                        <th>Quilates (gr)</th>                        
                    </tr>
                    <tr>
                        <td>{{ entity.categoriasubcategoria|default('OTROS') }}</td>
                        <td>{{ entity.codigo }}</td>
                        <td>{{ entity.descripcion }}</td>
                        <td>
                            {% if entity.tipoStock == 'U'%}
                                Unidades
                            {% elseif entity.tipoStock == 'P'%}
                                Gramos de Plata
                            {% else %}
                                Gramos de Oro
                            {% endif %}
                        </td>
                        <td>{{ entity.stock }}</td>
                        <td>{{ entity.costo }}</td>
                        <td>{{ entity.plata }}</td>
                        <td>{{ entity.oro }}</td>
                        <td>{{ entity.quilate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
