{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
        Vista R&aacute;pida {% if entity %}- {{entity}}{% endif %}
        <a class="btn btn-default" style="float:right;" href="{{path('joyas_joyas_inicio')}}">
            Volver
        </a>
    </h1>
    <div class="tablasScroll" style="text-align:center;">
        {% if entity %}
            <div class="col-md-6 col-md-offset-3" style="margin-bottom: 2%;">
                <form action="{{path('producto_vistarapida')}}" method="POST">
                    <input placeholder="Ingrese el codigo del producto" name="codigo" type="text" />
                    <br />
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
            <div class="col-md-12 text-center" style="margin-bottom: 2%;">
                <hr />
                <h3>
                    Informaci&oacute;n sobre el producto
                </h3>
                <hr />
            </div>
            <div class="col-md-12">
                <table class="display" style="width: 100%;">
                    <tbody>
                        <tr>
                            <th>Descripci&oacute;n</th>
                            <th>Categor&iacute;a</th>
                            <th>C&oacute;digo</th>
                            <th>Tipo de Stock</th>
                            <th>Stock</th>
                            <th>Hechura</th>
                            <th>Gramos de Plata</th>
                            <th>Gramos de Oro</th>
                            <th>Quilates (gr)</th>                            
                        </tr>
                        <tr>
                            <td>{{ entity.descripcion }}</td>
                            <td>{{ entity.categoriasubcategoria|default('OTROS') }}</td>
                            <td>{{ entity.codigo }}</td>
                            <td>
                                {% if entity.tipoStock == 'U'%}
                                    Unidades
                                {% elseif entity.tipoStock == 'P'%}
                                    Gramos de Plata
                                {% else %}
                                    Gramos de Oro
                                {% endif %}
                            </td>
                            <td>{{ entity.stock }}</td>
                            <td>{{ entity.monedaStr }} {{ entity.costo }}</td>
                            <td>{{ entity.plata }}</td>
                            <td>{{ entity.oro }}</td>
                            <td>{{ entity.quilate }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row" style="overflow-y: auto; margin-top: 2%;">
                    <div class="col-sm-12 text-center">
                        <label>
                            Precios del Producto
                        </label>
                    </div>
                    <div class="col-sm-12 text-center">
                        {% for precio in entity.precios %}
                            {{precio.listaprecio.descripcion}} - 
                            {{precio.listaprecio.monedaStr}}
                            {{precio.valor}}
                            <br />
                        {% else %}
                            El producto no tiene precios asignados
                        {% endfor %}
                    </div>
                </div>
                <div class="tablasScroll" style="overflow-y: auto; margin-top: 2%;">
                    <div class="col-sm-12 text-center">
                        <label>
                            Im&aacute;genes del producto
                        </label>
                    </div>
                    {% for imgp in entity.imagenesproducto %}
                        <div class="col-sm-4">
                            <img width="100%" src="{{ asset(imgp.WebPath) }}" />
                        </div>
                    {% else %}
                        SIN IM&Aacute;GEN
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="col-md-6 col-md-offset-3">
                <form action="{{path('producto_vistarapida')}}" method="POST">
                    <input placeholder="Ingrese el codigo del producto" name="codigo" type="text" />
                    <br />
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
