{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}

    <h1>Cuenta Corriente "{{entity.razonSocial }}"</h1>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">$ y U$D</a>
            </li>
            <li><a href="#oroplata" data-toggle="tab">Oro y Plata</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="home">
                {% set pesosD = 0 %}
                {% set pesosH = 0 %}
                {% set dolaresD = 0 %}
                {% set dolaresH = 0 %}
                <div class="tablasScroll" id="tablasScroll" style="border: none;">
                    <table class="table table-bordered table-striped tableCC" >
                        <thead>
                            <tr>
                                <th colspan="2">Cuenta Corriente: "{{entity.razonSocial }}"</th>
                                <th colspan="3" style="text-align:center">Pesos ($)</th>
                                <th colspan="3" style="text-align:center">Dolar (u$s)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="10%">Fecha</td>
                                <td width="20%">Movimiento</td>
                                <td width="12%">Debe</td>
                                <td width="12%">Haber</td>
                                <td width="12%">Saldo</td>
                                <td width="12%">Debe</td>
                                <td width="12%">Haber</td>
                                <td width="12%">Saldo</td>
                            </tr>
                            {% for movimiento in entity.movimientoscc %}
                                {% if movimiento.estado == 'A' and entity.clienteProveedor == '2' %}
                                    <tr>
                                        <td>{{ movimiento.documento.fechaRegistracion|date('d-m-Y') }}</td>
                                        <td>
                                            <a href="{{ path('documento_show', {'id': movimiento.documento.id}) }}"> 
                                                {% if movimiento.tipoDocumento == 'R' %} 
                                                    RECIBO CLIENTE {{ movimiento.documento.id }}
                                                {% endif %}
                                                {% if movimiento.tipoDocumento == 'C' %} 
                                                    NOTA DE CR&Eacute;DITO {{ movimiento.documento.id }}
                                                {% endif %}
                                                {% if movimiento.tipoDocumento == 'D' %} 
                                                    NOTA DE D&Eacute;BITO {{ movimiento.documento.id}}
                                                {% endif %}
                                                {% if movimiento.tipoDocumento == 'RP' %} 
                                                    RECIBO PROV. {{ movimiento.documento.id}}
                                                {% endif %}
                                                {% if movimiento.tipoDocumento == 'F' %} 
                                                    FACTURA {{ movimiento.factura.id }}
                                                {% endif %}
                                            </a> 
                                        </td>
                                        {% if movimiento.tipoDocumento == 'RP' or movimiento.tipoDocumento == 'C' %} 
                                            {% if movimiento.monedaStr == 'ARG' %} 
                                                {% set pesosD = movimiento.documento.importe + pesosD %}
                                                <td>$ {{ (movimiento.documento.importe)|number_format(2, '.', ',') }}</td>
                                                <td></td>
                                                <td>$ {{ (pesosD - pesosH)|number_format(2, '.', ',') }}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            {% else %}
                                                {% set dolaresD = movimiento.documento.importe + dolaresD %}
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>U$S {{ (movimiento.documento.importe)|number_format(2, '.', ',') }}</td>
                                                <td></td>
                                                <td>U$S {{ (dolaresD - dolaresH)|number_format(2, '.', ',') }}</td>
                                            {% endif %}
                                        {% endif %}
                                        {% if movimiento.tipoDocumento == 'F' or movimiento.tipoDocumento == 'D' %} 
                                            {% if movimiento.monedaStr == 'ARG' %} 
                                                {% set pesosH = movimiento.documento.importe + pesosH %}
                                                <td></td>
                                                <td>$ {{ (movimiento.documento.importe)|number_format(2, '.', ',') }}</td>
                                                <td>$ {{ (pesosD - pesosH)|number_format(2, '.', ',') }}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            {% else %}
                                                {% set dolaresH = movimiento.documento.importe + dolaresH %}
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>U$S {{ (movimiento.documento.importe)|number_format(2, '.', ',') }}</td>
                                                <td>U$S {{ (dolaresD - dolaresH)|number_format(2, '.', ',') }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% else %}
                                    {% if movimiento.estado == 'A' and entity.clienteProveedor == '1' %}
                                        <tr>
                                            {% if movimiento.tipoDocumento == 'FC' %} 
                                                <td>{{ movimiento.factura.fecha|date('d-m-Y') }}</td>
                                            {% else %}
                                                <td>{{ movimiento.documento.fechaRegistracion|date('d-m-Y') }}</td>						
                                            {% endif %}
                                            <td>
                                                {% if movimiento.tipoDocumento != 'FC' %} 
                                                    <a href="{{ path('documento_show', {'id': movimiento.documento.id}) }}"> 
                                                        {% if movimiento.tipoDocumento == 'R' %} 
                                                            RECIBO CLIENTE {{ movimiento.documento.id }}
                                                        {% endif %}
                                                        {% if movimiento.tipoDocumento == 'C' %} 
                                                            NOTA DE CR&Eacute;DITO {{ movimiento.documento.id }}
                                                        {% endif %}
                                                        {% if movimiento.tipoDocumento == 'D' %} 
                                                            NOTA DE D&Eacute;BITO {{ movimiento.documento.id }}
                                                        {% endif %}
                                                        {% if movimiento.tipoDocumento == 'RP' %} 
                                                            RECIBO PROV. {{ movimiento.documento.id }}
                                                        {% endif %}
                                                        {% if movimiento.tipoDocumento == 'F' %} 
                                                            FACTURA {{ movimiento.factura.id }}
                                                        {% endif %}
                                                    </a> 
                                                {% endif %}
                                                {% if movimiento.tipoDocumento == 'FC' %} 
                                                    <a href="{{ path('factura_show', {'id': movimiento.factura.id}) }}"> 
                                                        FACTURA {{ movimiento.factura.id }}
                                                    </a>
                                                {% endif %}
                                            </td>
                                            {% if movimiento.tipoDocumento == 'D' or movimiento.tipoDocumento == 'FC'%} 
                                                {% if movimiento.monedaStr == 'ARG' %} 
                                                    {% if movimiento.tipoDocumento == 'D'%} 
                                                        {% set pesosD = movimiento.documento.importe + pesosD %}
                                                        <td>$ {{ (movimiento.documento.importe)|number_format(2, '.', ',') }}</td>
                                                        <td></td>
                                                        <td>$ {{ (pesosD - pesosH)|number_format(2, '.', ',') }}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    {% else %}

                                                        {% set importeFC = 0 %}
                                                        {% for prodFact in movimiento.factura.productosFactura %}
                                                            {% set importeFC = (prodFact.precio * prodFact.cantidad) + importeFC %} 
                                                        {% endfor %}

                                                        {% if movimiento.factura.descuento != '' %}																	
                                                            {% set desc = '0.' ~ (100 - movimiento.factura.descuento)  %}																	
                                                            {% set importeFC = importeFC * desc  %}																	
                                                        {% endif %}

                                                        {% if movimiento.factura.bonificacion != '' %}																	
                                                            {% set importeFC = importeFC - movimiento.factura.bonificacion %}																	
                                                        {% endif %}

                                                        {% set pesosD = importeFC + pesosD %}

                                                        <td>$ {{ (importeFC)|number_format(2, '.', ',') }}</td>
                                                        <td></td>
                                                        <td>$ {{ (pesosD - pesosH)|number_format(2, '.', ',') }}</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    {% endif %}
                                                {% else %}
                                                    {% if movimiento.tipoDocumento == 'D'%} 
                                                        {% set dolaresD = movimiento.documento.importe + dolaresD %}
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>U$S {{ (movimiento.documento.importe)|number_format(2, '.', ',') }}</td>
                                                        <td></td>
                                                        <td>U$S {{ (dolaresD - dolaresH)|number_format(2, '.', ',') }}</td>
                                                    {% else %}

                                                        {% set importeFC = 0 %}
                                                        {% for prodFact in movimiento.factura.productosFactura %}
                                                            {% set importeFC = (prodFact.precio * prodFact.cantidad) + importeFC %} 
                                                        {% endfor %}

                                                        {% if movimiento.factura.descuento != '' %}																	
                                                            {% set desc = '0.' ~ (100 - movimiento.factura.descuento)  %}																	
                                                            {% set importeFC = importeFC * desc  %}																	
                                                        {% endif %}

                                                        {% if movimiento.factura.bonificacion != '' %}																	
                                                            {% set importeFC = importeFC - movimiento.factura.bonificacion %}																	
                                                        {% endif %}

                                                        {% set dolaresD = importeFC + dolaresD %}

                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>U$S {{ (importeFC)|number_format(2, '.', ',') }} </td>
                                                        <td></td>
                                                        <td>U$S {{ (dolaresD - dolaresH)|number_format(2, '.', ',') }}</td>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% if movimiento.tipoDocumento == 'R' or movimiento.tipoDocumento == 'C' %} 
                                                {% if movimiento.monedaStr == 'ARG' %} 
                                                    {% set pesosH = movimiento.documento.importe + pesosH %}
                                                    <td></td>
                                                    <td>$ {{ (movimiento.documento.importe)|number_format(2, '.', ',') }}</td>
                                                    <td>$ {{ (pesosD - pesosH)|number_format(2, '.', ',') }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                {% else %}
                                                    {% set dolaresH = movimiento.documento.importe + dolaresH %}
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>U$S {{ (movimiento.documento.importe)|number_format(2, '.', ',') }}</td>
                                                    <td>U$S {{ (dolaresD - dolaresH)|number_format(2, '.', ',') }}</td>
                                                {% endif %}
                                            {% endif %}
                                        </tr>				
                                    {% endif %}
                                {% endif %}

                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2">Cuenta Corriente: "{{entity.razonSocial }}"</th>
                                <th colspan="3" style="text-align:center">SALDO $ {{ (pesosD - pesosH)|number_format(2, '.', ',') }}</th>
                                <th colspan="3" style="text-align:center">SALDO U$S {{ (dolaresD - dolaresH)|number_format(2, '.', ',') }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="oroplata">
                {% set oroD = 0 %}
                {% set oroH = 0 %}
                {% set plataD = 0 %}
                {% set plataH = 0 %}
                <div class="tablasScroll" id="tablasScroll" style="border: none;">
                    <table class="table table-bordered table-striped tableCC" >
                        <thead>
                            <tr>
                                <th colspan="2">Cuenta Corriente: "{{entity.razonSocial }}"</th>
                                <th colspan="3" style="text-align:center">Oro 24k</th>
                                <th colspan="3" style="text-align:center">Plata</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="10%">Fecha</td>
                                <td width="20%">Movimiento</td>
                                <td width="12%">Debe</td>
                                <td width="12%">Haber</td>
                                <td width="12%">Saldo</td>
                                <td width="12%">Debe</td>
                                <td width="12%">Haber</td>
                                <td width="12%">Saldo</td>
                            </tr>
                            {% for movimiento in entity.movimientoscc %}
                                {% if movimiento.documento %}
                                    {% set oroo = movimiento.documento.oro|default('') %}
                                    {% set plataa = movimiento.documento.plata|default('') %}                                                                 

                                {% else %}
                                    {% set oroo = movimiento.factura.oro|default('') %}
                                    {% set plataa = movimiento.factura.plata|default('') %}                                                                 
                                    
                                {% endif %}
                                {% if oroo != '' or plataa != '' %}                                    
                                    {% if movimiento.estado == 'A' and entity.clienteProveedor == '2' %}
                                        <tr>
                                            <td>{{ movimiento.documento.fechaRegistracion|date('d-m-Y') }}</td>
                                            <td>
                                                <a href="{{ path('documento_show', {'id': movimiento.documento.id}) }}"> 
                                                    {% if movimiento.tipoDocumento == 'R' %} 
                                                        RECIBO CLIENTE {{ movimiento.documento.id }}
                                                    {% endif %}
                                                    {% if movimiento.tipoDocumento == 'C' %} 
                                                        NOTA DE CR&Eacute;DITO {{ movimiento.documento.id }}
                                                    {% endif %}
                                                    {% if movimiento.tipoDocumento == 'D' %} 
                                                        NOTA DE D&Eacute;BITO {{ movimiento.documento.id }}
                                                    {% endif %}
                                                    {% if movimiento.tipoDocumento == 'RP' %} 
                                                        RECIBO PROV. {{ movimiento.documento.id }}
                                                    {% endif %}
                                                    {% if movimiento.tipoDocumento == 'F' %} 
                                                        FACTURA {{ movimiento.factura.id }}
                                                    {% endif %}
                                                </a> 
                                            </td>
                                            {% if movimiento.tipoDocumento == 'RP' or movimiento.tipoDocumento == 'C' %} 
                                                {% set oroD = movimiento.documento.oro + oroD %}
                                                {% set plataD = movimiento.documento.plata + plataD %}
                                                <td>{{ movimiento.documento.oro }} gr</td>
                                                <td></td>
                                                <td>{{ oroD - oroH }} gr</td>
                                                <td>{{ movimiento.documento.plata }} gr</td>
                                                <td></td>
                                                <td>{{ plataD - plataH }} gr</td>
                                            {% endif %}
                                            {% if movimiento.tipoDocumento == 'F' or movimiento.tipoDocumento == 'D' %} 
                                                {% set oroH = movimiento.documento.oro + oroH %}
                                                {% set plataH = movimiento.documento.plata + plataH %}
                                                <td></td>
                                                <td>{{ movimiento.documento.oro }} gr</td>
                                                <td>{{ (oroD - oroH) }} gr</td>
                                                <td></td>
                                                <td>{{ movimiento.documento.plata }} gr</td>
                                                <td>{{ plataD - plataH }} gr</td>
                                            {% endif %}
                                        </tr>
                                    {% else %}                                        
                                        {% if movimiento.estado == 'A' and entity.clienteProveedor == '1' %}
                                            <tr>                                        
                                                {% if movimiento.tipoDocumento == 'FC' %} 
                                                    <td>{{ movimiento.factura.fecha|date('d-m-Y') }}</td>
                                                {% else %}
                                                    <td>{{ movimiento.documento.fechaRegistracion|date('d-m-Y') }}</td>						
                                                {% endif %}
                                                <td>
                                                    {% if movimiento.tipoDocumento != 'FC' %} 
                                                        <a href="{{ path('documento_show', {'id': movimiento.documento.id}) }}"> 
                                                            {% if movimiento.tipoDocumento == 'R' %} 
                                                                RECIBO CLIENTE {{ movimiento.documento.id }}
                                                            {% endif %}
                                                            {% if movimiento.tipoDocumento == 'C' %} 
                                                                NOTA DE CR&Eacute;DITO {{ movimiento.documento.id}}
                                                            {% endif %}
                                                            {% if movimiento.tipoDocumento == 'D' %} 
                                                                NOTA DE D&Eacute;BITO {{ movimiento.documento.id }}
                                                            {% endif %}
                                                            {% if movimiento.tipoDocumento == 'RP' %} 
                                                                RECIBO PROV. {{ movimiento.documento.id }}
                                                            {% endif %}
                                                            {% if movimiento.tipoDocumento == 'F' %} 
                                                                FACTURA {{ movimiento.factura.id}}
                                                            {% endif %}
                                                        </a> 
                                                    {% endif %}
                                                    {% if movimiento.tipoDocumento == 'FC' %} 
                                                        <a href="{{ path('factura_show', {'id': movimiento.factura.id}) }}"> 
                                                            FACTURA {{ movimiento.factura.id }}
                                                        </a>
                                                    {% endif %}
                                                </td>
                                                {% if movimiento.tipoDocumento == 'D' or movimiento.tipoDocumento == 'FC'%} 
                                                    {% if movimiento.tipoDocumento == 'D'%} 
                                                        {% set oroD = movimiento.documento.oro + oroD %}
                                                        <td>{{ movimiento.documento.oro }} gr</td>
                                                        <td></td>
                                                        <td>{{ oroD - oroH }} gr</td>
                                                    {% else %}
                                                        {% set importeFC = 0 %}
                                                        {% set importeFC = movimiento.factura.oro %}
                                                        {% set oroD = importeFC + oroD %}
                                                        <td>{{ importeFC }} gr</td>
                                                        <td></td>
                                                        <td>{{ oroD - oroH }} gr</td>
                                                    {% endif %}
                                                    {% if movimiento.tipoDocumento == 'D'%} 
                                                        {% set plataD = movimiento.documento.plata + plataD %}
                                                        <td>{{ movimiento.documento.plata }} gr</td>
                                                        <td></td>
                                                        <td>{{ plataD - plataH }} gr</td>
                                                    {% else %}
                                                        {% set plataD = movimiento.factura.plata + plataD %}	
                                                        <td>{{ movimiento.factura.plata }} gr</td>
                                                        <td></td>
                                                        <td>{{ plataD - plataH }} gr</td>
                                                    {% endif %}
                                                {% endif %}
                                                {% if movimiento.tipoDocumento == 'R' or movimiento.tipoDocumento == 'C' %} 
                                                    {% set oroH = movimiento.documento.oro + oroH %}
                                                    {% set plataH = movimiento.documento.plata + plataH %}
                                                    <td></td>
                                                    <td>{{ movimiento.documento.oro }} gr</td>
                                                    <td>{{ oroD - oroH }} gr</td>
                                                    <td></td>
                                                    <td>{{ movimiento.documento.plata }} gr</td>
                                                    <td>{{ plataD - plataH }} gr</td>
                                                {% endif %}
                                            </tr>				
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2">Cuenta Corriente: "{{entity.razonSocial }}"</th>
                                <th colspan="3" style="text-align:center">Saldo en Oro {{ oroD - oroH }} gr</th>
                                <th colspan="3" style="text-align:center">Saldo en Plata {{ plataD - plataH }} gr</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <table style="width: 100%; text-align: center;">
        <tbody>
            <tr>
                <td width="40%" colspan="2">
                    {% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
                        <a style="margin-left: -5px;"  class="btn btn-default" href="{{ path('documento_new', {'tipo': 'D'}) }}">
                            N. D&eacute;bito
                        </a>
                        <a style="margin-left: -5px;" class="btn btn-default" href="{{ path('documento_new', {'tipo': 'C'}) }}">
                            N. Cr&eacute;dito
                        </a>
                        <a style="margin-left: -5px;" class="btn btn-default" href="{{ path('clienteproveedor_imprimir', {'id': entity.id}) }}">
                            Imprimir
                        </a>
                    {% endif %}
                    <a style="margin-left: -5px;" class="btn btn-default" href="{{ path('clienteproveedor') }}">
                        Volver
                    </a>
                </td>
                <td width="30%" colspan="3"></td>
                <td width="30%" colspan="3"></td>
            </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $("#tablasScroll").animate({
                scrollTop: $("#tablasScroll table").height()
            }, 2000);
        });
    </script>	
{% endblock %}