{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
        {% if entity.clienteProveedor == 1  %}
            Editar Cliente "{{ entity.razonSocial }}"
        {% else  %}
            Editar Proveedor "{{ entity.razonSocial }}"
        {% endif %}
    </h1>


    <div class="joyas-container" style="width: 50% !important; margin: 0 auto;">
        <div class="container">
            {{ form_start(edit_form, {attr: {novalidate: 'novalidate'}}) }}
             {{ form_row(edit_form.razonSocial) }}
             {{ form_row(edit_form.provincia) }}
            <div>
                <label for="localidad" class="required" style="font-weight: bold;">Localidad</label>    
                <select name="localidad" id="loc" >
                    <option value="">Seleccione una Localidad</option>
                    {% for localidad in localidades%}
                        <option value="{{ localidad.id }}" class="{{ localidad.provincia.id }}">{{ localidad.descripcion }}</option>
                    {% endfor %}
                </select>  
            </div>
            <div class='hidden'>   
                {{ form_row(edit_form.localidad) }}
            </div>
            <div style="display:none;">
                <label>Cliento o Proveedor</label>
                {{ form_widget(edit_form.clienteProveedor) }}
            </div>
            {{ form_end(edit_form) }}		
            <a id="volver" class="btn btn-default" href="{{ path('clienteproveedor') }}">
                Volver
            </a>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("input").attr('class', 'form-control');
            $('#clienteproveedor').val($("#joyas_joyasbundle_clienteproveedor_clienteProveedor").val());
            $("#loc").change(function () {
                $('#joyas_joyasbundle_clienteproveedor_localidad').val($(this).val());
                $('#joyas_joyasbundle_clienteproveedor_localidad').change();
            });
            
            $("#joyas_joyasbundle_clienteproveedor_provincia").change(function () {
                var selectProvincia = $(this);
                $("#localidad option").each(function (index) {
                    $(this).removeClass('out');
                    $(this).removeClass('mostrar');
                    if ($(this).hasClass($(selectProvincia).val())) {
                        $(this).addClass('mostrar');
                    } else {
                        $(this).addClass('out');
                    }
                });
                $('.out').toggle(false);
                $('.mostrar').toggle(true);
            });
            $('#joyas_joyasbundle_clienteproveedor_provincia').change();            

            $('#loc').val($('#joyas_joyasbundle_clienteproveedor_localidad').val());
        });

    </script>
{% endblock %}
