{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Im&aacute;gen de Portada</h1>
    <div class="joyas-container" style="width: 70%; margin: 0 auto;">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <img id="foto" class="img-responsive" alt="" style="margin:0 auto;" src="{{entity.fotoSrc}}">                    
            </div>   
        </div>
            <a class="btn btn-default" href="{{ path('imagen')  }}">Volver</a>
    </div>
{% endblock %}


